Repository hpcaitech/ColossalAI, pull requests merged in 2022-04, with the labels that each got.

#577 [refactor] memory utils
  colossalai/engine/gradient_handler/_moe_gradient_handler.py
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/memory_tracer/async_memtracer.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_tracer/test_memstats_collector.py
  colossalai/utils/memory_utils/memory_monitor.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/shard_utils/tensor_utils.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_utils/test_commons.py
  tests/test_utils/test_tensor_move.py
  tests/test_zero_data_parallel/test_init_context.py
Labels: Run Build and Test

#589 Feature/checkpoint gloo
  colossalai/context/parallel_context.py
  colossalai/context/process_group_initializer/initializer_1d.py
  colossalai/context/process_group_initializer/initializer_2d.py
  colossalai/context/process_group_initializer/initializer_2p5d.py
  colossalai/context/process_group_initializer/initializer_3d.py
  colossalai/context/process_group_initializer/initializer_data.py
  colossalai/context/process_group_initializer/initializer_model.py
  colossalai/context/process_group_initializer/initializer_pipeline.py
  colossalai/context/process_group_initializer/initializer_sequence.py
  colossalai/context/process_group_initializer/initializer_tensor.py
Labels: Run Build and Test

#604 [hotfix] fix sharded optim zero grad
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#609 [zero] test zero tensor utils
  tests/test_utils/test_tensor_move.py
Labels: Run Build and Test

#592 [model checkpoint] checkpoint utils
  colossalai/utils/__init__.py
  colossalai/utils/checkpointing.py
Labels: Run Build and Test

#593 [model checkpoint][hotfix] unified layers for save&load
  colossalai/nn/layer/base_layer.py
  colossalai/nn/layer/colossalai_layer/_utils.py
  colossalai/nn/layer/colossalai_layer/dropout.py
  colossalai/nn/layer/colossalai_layer/embedding.py
  colossalai/nn/layer/colossalai_layer/linear.py
  colossalai/nn/layer/colossalai_layer/normalization.py
Labels: Run Build and Test

#601 [zero] adapt zero for unsharded parameters (Optimizer part)
  colossalai/utils/checkpointing.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/components_to_test/no_leaf_module.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_zero_data_parallel/common.py
Labels: Run Build and Test

#622 [hotfix] Raise messages for indivisible batch sizes with tensor parallelism
  colossalai/nn/layer/colossalai_layer/_utils.py
  colossalai/nn/layer/parallel_2d/__init__.py
  colossalai/nn/layer/parallel_2d/_operation.py
  colossalai/nn/layer/parallel_2d/layers.py
  colossalai/nn/layer/parallel_2p5d/__init__.py
  colossalai/nn/layer/parallel_2p5d/_operation.py
  colossalai/nn/layer/parallel_2p5d/layers.py
  colossalai/nn/layer/parallel_3d/_operation.py
  colossalai/nn/loss/loss_2d.py
  colossalai/nn/loss/loss_2p5d.py
  colossalai/nn/metric/accuracy_2d.py
  colossalai/nn/metric/accuracy_2p5d.py
Labels: Run Build and Test

#633 fixed bugs in CPU adam
  colossalai/kernel/cuda_native/csrc/cpu_adam.cpp
  colossalai/nn/optimizer/__init__.py
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/nn/optimizer/hybrid_adam.py
  colossalai/nn/optimizer/utils.py
  tests/test_moe/test_moe_zero_optim.py
Labels: Run Build and Test

#659 remove hybrid adam in test_moe_zero_optim
  colossalai/utils/activation_checkpoint.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_utils/test_activation_checkpointing.py
Labels: Run Build and Test

#627 refactor pipeline---put runtime schedule into engine.
  colossalai/engine/_base_engine.py
  colossalai/engine/schedule/_base_schedule.py
  colossalai/engine/schedule/_non_pipeline_schedule.py
  colossalai/initialize.py
  colossalai/trainer/_trainer.py
  tests/test_data_pipeline_tensor_parallel/test_cifar_with_data_pipeline_tensor.py
  tests/test_trainer/test_pipeline/resnet_config.py
  tests/test_trainer/test_pipeline/test_pipeline_schedule.py
  tests/test_trainer/test_trainer_with_pipe_schedule.py
Labels: Run Build and Test

#655 [hotfix] fix a bug in model data stats tracing
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_moe/test_moe_zero_init.py
Labels: Run Build and Test

#664 fix bugs for unsharded parameters when restore data
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#672 [ci] replace the ngc docker image with self-built pytorch image
  .github/workflows/build.yml
  .github/workflows/compatibility_test.yml
Labels: Run Build and Test, DevOps

#614 [zero] initialize a stateful tensor manager
  colossalai/utils/memory_tracer/__init__.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/zero/shard_utils/stateful_tensor_mgr.py
  colossalai/zero/sharded_param/sharded_param.py
Labels: Run Build and Test

#678 [ci] fixed compatibility workflow
  .github/workflows/compatibility_test.yml
Labels: DevOps

#679 [pipeline] refactor pipeline
  colossalai/engine/schedule/__init__.py
  colossalai/engine/schedule/_pipeline_schedule.py
  colossalai/initialize.py
  colossalai/trainer/hooks/_metric_hook.py
Labels: Run Build and Test

#686 [zero] fix init bugs in zero context
  colossalai/zero/init_ctx/init_context.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_state_dict.py
Labels: Run Build and Test

#691 [ci] update workflow trigger condition and support options
  .github/workflows/compatibility_test.yml
Labels: DevOps

#694 [ci] remove ipc config for rootless docker
  .github/workflows/build.yml
  .github/workflows/compatibility_test.yml
Labels: Run Build and Test

#701 [hotfix] update requirements-test
  .github/workflows/build.yml
  .github/workflows/compatibility_test.yml
  requirements/requirements-test.txt
Labels: Run Build and Test

#687 [zero] stateful tensor manager
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/zero/shard_utils/__init__.py
  colossalai/zero/shard_utils/stateful_tensor_mgr.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#699 [zero] adapt zero hooks for unsharded module
  colossalai/engine/ophooks/zero_hook.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_shard_param.py
  tests/test_zero_data_parallel/test_state_dict.py
Labels: Run Build and Test

#707 Corrected 3d vocab parallel embedding
  colossalai/nn/layer/parallel_3d/layers.py
Labels: Run Build and Test

#706 [zero] refactor memstats collector
  colossalai/utils/__init__.py
  colossalai/utils/common.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_tracer/test_async_memtracer.py
  colossalai/utils/memory_tracer/test_memstats_collector.py
  colossalai/zero/shard_utils/stateful_tensor_mgr.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  tests/test_zero_data_parallel/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#708 [zero] improve adaptability for not-shard parameters
  colossalai/nn/layer/moe/utils.py
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_zero_data_parallel/common.py
Labels: Run Build and Test

#700 [compatibility] fixed tensor parallel compatibility with torch 1.9
  colossalai/nn/layer/parallel_2d/_operation.py
  colossalai/nn/layer/parallel_2p5d/_operation.py
Labels: Run Build and Test

#710 [hotfix] fix stateful tensor manager's cuda model data size
  colossalai/zero/shard_utils/stateful_tensor_mgr.py
Labels: Run Build and Test

#712 [zero] check whether gradients have inf and nan in gpu
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/test_found_inf.py
Labels: Run Build and Test

#715 [refactor] refactor the memory utils
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/__init__.py
  colossalai/utils/cuda.py
  colossalai/utils/memory.py
  colossalai/utils/memory_tracer/async_memtracer.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_utils/__init__.py
  colossalai/utils/memory_utils/bucket_tensor_copy.py
  colossalai/utils/memory_utils/memory_monitor.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/shard_utils/stateful_tensor_mgr.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_utils/test_bucket_tensor_copy.py
  tests/test_utils/test_tensor_move.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#725 [bug] fixed broken test_found_inf
  tests/test_zero_data_parallel/test_found_inf.py
Labels: Run Build and Test

#724 [refactor] zero directory
  colossalai/amp/__init__.py
  colossalai/engine/ophooks/__init__.py
  colossalai/engine/ophooks/_base_ophook.py
  colossalai/engine/ophooks/utils.py
  colossalai/zero/shard_utils/__init__.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/_utils.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/__init__.py
  colossalai/zero/sharded_param/sharded_param.py
  colossalai/zero/sharded_param/tensor_utils.py
  colossalai/zero/utils/__init__.py
  colossalai/zero/utils/stateful_tensor_mgr.py
  colossalai/zero/utils/zero_hook.py
  tests/test_utils/test_commons.py
  tests/test_utils/test_tensor_move.py
  tests/test_zero_data_parallel/test_found_inf.py
  tests/test_zero_data_parallel/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#723 [util] support detection of number of processes on current node
  colossalai/context/parallel_context.py
  colossalai/initialize.py
Labels: enhancement, Run Build and Test

#721 [util] fixed communication API with PyTorch 1.9
  colossalai/communication/collective.py
Labels: bug, Run Build and Test

#729 [unitest] add checkpoint for moe zero test
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
Labels: Run Build and Test

#731 [bug] removed zero installation requirements
  setup.py
Labels: Run Build and Test

#728 [hotfix] remove duplicated param register to stateful tensor manager
  colossalai/zero/sharded_model/sharded_model_v2.py
Labels: Run Build and Test

#726 [utils] correct cpu memory used and capacity in the context of multi-process
  colossalai/utils/memory.py
  colossalai/utils/memory_tracer/async_memtracer.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_utils/test_memory.py
  tests/test_zero/common.py
  tests/test_zero/test_found_inf.py
  tests/test_zero/test_init_context.py
  tests/test_zero/test_shard_model_v2.py
  tests/test_zero/test_shard_param.py
  tests/test_zero/test_sharded_optim_v2.py
  tests/test_zero/test_sharded_optim_with_sync_bn.py
  tests/test_zero/test_state_dict.py
  tests/test_zero/test_stateful_tensor_mgr.py
  tests/test_zero/test_tensor_utils.py
  tests/test_zero/test_zero_engine.py
Labels: Run Build and Test

#735 [bug] fixed grad scaler compatibility with torch 1.8
  colossalai/amp/torch_amp/_grad_scaler.py
Labels: Run Build and Test

#739 [bug] fixed DDP compatibility with torch 1.8
  tests/test_zero/test_shard_model_v2.py
  tests/test_zero/test_sharded_optim_v2.py
  tests/test_zero/test_zero_engine.py
Labels: Run Build and Test

#741 [hotfix] fix memory leak in backward of sharded model
  colossalai/zero/sharded_model/sharded_model_v2.py
Labels: Run Build and Test

#742 [zero] refactor ShardedParamV2
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_model/utils.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  colossalai/zero/sharded_param/sharded_tensor.py
  colossalai/zero/sharded_param/tensorful_state.py
  colossalai/zero/utils/zero_hook.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_zero/common.py
  tests/test_zero/test_found_inf.py
  tests/test_zero/test_init_context.py
  tests/test_zero/test_shard_param.py
  tests/test_zero/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#749 [hotfix] fix prepare grads in sharded optim
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#752 [zero] use factory pattern for tensor_placement_policy
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/utils/__init__.py
  colossalai/zero/utils/tensor_placement_policy.py
Labels: Run Build and Test

#750 [hotfix] layernorm
  colossalai/nn/layer/colossalai_layer/normalization.py
  colossalai/nn/layer/parallel_1d/layers.py
  colossalai/nn/layer/parallel_2d/layers.py
  colossalai/nn/layer/parallel_2p5d/layers.py
  colossalai/nn/layer/parallel_3d/_operation.py
  colossalai/nn/layer/parallel_3d/layers.py
  colossalai/nn/layer/vanilla/__init__.py
  colossalai/nn/layer/vanilla/layers.py
Labels: Run Build and Test

#746 [zero] refactor memstats_collector
  colossalai/engine/ophooks/__init__.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/zero/sharded_param/sharded_param.py
  colossalai/zero/sharded_param/tensor_utils.py
  colossalai/zero/utils/stateful_tensor_mgr.py
  colossalai/zero/utils/tensor_placement_policy.py
  colossalai/zero/utils/zero_hook.py
  tests/test_zero/test_mem_collector.py
  tests/test_zero/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#756 [hotfix] fix reuse_fp16_shard of sharded model
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#762 [hotfix] fix test_stateful_tensor_mgr
  colossalai/zero/utils/tensor_placement_policy.py
  tests/test_zero/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#754 [gemini] init genimi individual directory
  colossalai/gemini/__init__.py
  colossalai/gemini/stateful_tensor_mgr.py
  colossalai/gemini/tensor_placement_policy.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/utils/__init__.py
  colossalai/zero/utils/zero_hook.py
  tests/test_zero/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#760 [test] added a decorator for address already in use error with backward compatibility
  colossalai/testing/__init__.py
  colossalai/testing/utils.py
Labels: Run Build and Test

#758 [compatibility] used backward-compatible API for global process group
  colossalai/context/parallel_context.py
Labels: Run Build and Test

#769 [hotfix] fix the ckpt hook bugs when using DDP
  colossalai/trainer/hooks/_checkpoint_hook.py
Labels: Run Build and Test

#773 refactor shard and gather operation
  colossalai/zero/shard_utils/commons.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
Labels: Run Build and Test

#781 [hotfix] fix bugs in zero
  colossalai/amp/naive_amp/grad_scaler/base_grad_scaler.py
  colossalai/amp/naive_amp/grad_scaler/dynamic_grad_scaler.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero/test_stateful_tensor_mgr.py
Labels: Run Build and Test

#784 [hotfix] fix grad offload when enabling reuse_fp16_shard
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#792 [log] add tflops logs
  colossalai/trainer/hooks/_commons_.py
  colossalai/trainer/hooks/_log_hook.py
  colossalai/trainer/hooks/_metric_hook.py
Labels: Run Build and Test

#791 [cli] added distributed launcher command
  colossalai/cli/__init__.py
  colossalai/cli/cli.py
  colossalai/cli/launcher/__init__.py
  colossalai/cli/launcher/multinode_runner.py
  colossalai/cli/launcher/run.py
  setup.py
Labels: Run Build and Test

#789 [cli] added micro benchmarking for tp
  colossalai/cli/benchmark/__init__.py
  colossalai/cli/benchmark/run.py
  colossalai/cli/benchmark/simple_model.py
  colossalai/cli/benchmark/utils.py
  colossalai/cli/cli.py
Labels: Run Build and Test

#804 [refactor] moving grad acc logic to engine
  colossalai/engine/gradient_accumulation/__init__.py
  colossalai/engine/gradient_accumulation/_gradient_accumulation.py
  colossalai/engine/schedule/_pipeline_schedule.py
  colossalai/gemini/tensor_placement_policy.py
  colossalai/initialize.py
  colossalai/utils/__init__.py
  tests/test_data_pipeline_tensor_parallel/test_cifar_with_data_pipeline_tensor.py
  tests/test_engine/test_gradient_accumluation.py
Labels: Run Build and Test

#793 [zero] add zero tensor shard strategy
  colossalai/kernel/cuda_native/csrc/zero_comm.cpp
  colossalai/zero/comm/__init__.py
  colossalai/zero/comm/zero_comm.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/shard_utils/__init__.py
  colossalai/zero/shard_utils/zero_tensor_shard_strategy.py
  setup.py
  tests/test_zero/test_found_inf.py
  tests/test_zero/test_init_context.py
  tests/test_zero/test_mem_collector.py
  tests/test_zero/test_shard_model_v2.py
  tests/test_zero/test_state_dict.py
Labels: Run Build and Test

#807 [cli] fixed a bug in user args and refactored the module structure
  colossalai/cli/cli.py
  colossalai/cli/launcher/__init__.py
  colossalai/cli/launcher/run.py
  setup.py
Labels: Run Build and Test

#842 Init Conext supports lazy allocate model memory
  colossalai/tensor/colo_tensor.py
  colossalai/utils/__init__.py
  colossalai/utils/model/colo_init_context.py
  colossalai/utils/model/utils.py
  tests/test_tensor/test_context.py
Labels: Run Build and Test

#803 modefied the pp build for ckpt adaptation
  colossalai/builder/pipeline.py
  colossalai/initialize.py
Labels: Run Build and Test

#832 [gemini] add GeminiMemoryManger
  colossalai/gemini/gemini_context.py
  colossalai/gemini/stateful_tensor.py
  colossalai/gemini/stateful_tensor_mgr.py
  colossalai/gemini/tensor_placement_policy.py
  colossalai/gemini/tensor_utils.py
  colossalai/nn/layer/moe/utils.py
  colossalai/zero/__init__.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/shard_utils/bucket_tensor_shard_strategy.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_model/_utils.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/__init__.py
  colossalai/zero/sharded_param/sharded_param.py
  colossalai/zero/sharded_param/sharded_tensor.py
  colossalai/zero/sharded_param/tensorful_state.py
  colossalai/zero/utils/zero_hook.py
  tests/test_gemini/test_gemini_manager.py
  tests/test_gemini/test_stateful_tensor_mgr.py
  tests/test_utils/test_commons.py
  tests/test_zero/test_shard_param.py
  tests/test_zero/test_tensor_utils.py
Labels: Run Build and Test

#844 [CLI] refactored the launch CLI and fixed bugs in multi-node launching
  colossalai/cli/launcher/__init__.py
  colossalai/cli/launcher/hostinfo.py
  colossalai/cli/launcher/multinode_runner.py
  colossalai/cli/launcher/run.py
  requirements/requirements.txt
Labels: enhancement

#860 [ci] cache cuda extension
  .github/workflows/build.yml
  tests/components_to_test/simple_net.py
Labels: Run Build and Test

#863 [doc] improved docstring in the communication module
  colossalai/communication/collective.py
  colossalai/communication/p2p.py
  colossalai/communication/ring.py
  colossalai/communication/utils.py
Labels: Run Build and Test

#861 [doc] improved docstring in the logging module
  colossalai/logging/__init__.py
  colossalai/logging/logger.py
Labels: Run Build and Test

#866 [Tensor] colo init context add device attr.
  colossalai/tensor/colo_tensor.py
  colossalai/utils/model/colo_init_context.py
  tests/test_tensor/test_context.py
Labels: Run Build and Test

#872 [doc] improved error messages in initialize
  colossalai/initialize.py
Labels: Run Build and Test

#873 [doc] improved assertion messages in trainer
  colossalai/trainer/_trainer.py
Labels: Run Build and Test

#871 [doc] improved docstring and assertion messages for the engine module
  colossalai/engine/_base_engine.py
  colossalai/engine/gradient_accumulation/_gradient_accumulation.py
  colossalai/engine/gradient_handler/_data_parallel_gradient_handler.py
  colossalai/engine/gradient_handler/_moe_gradient_handler.py
  colossalai/engine/gradient_handler/_pipeline_parallel_gradient_handler.py
  colossalai/engine/gradient_handler/_sequence_parallel_gradient_handler.py
  colossalai/engine/gradient_handler/_zero_gradient_handler.py
  colossalai/engine/paramhooks/_param_hookmgr.py
  colossalai/engine/schedule/_pipeline_schedule.py
Labels: Run Build and Test

#877 [Tensor] Add some attributes to ColoTensor
  colossalai/tensor/_ops/element_wise.py
  colossalai/tensor/colo_tensor.py
  tests/test_tensor/test_op.py
  tests/test_tensor/test_tensor.py
Labels: Run Build and Test

#879 [Tensor] make a simple net works with 1D row TP
  colossalai/tensor/colo_tensor.py
  tests/test_tensor/test_net_tp.py
Labels: Run Build and Test

#886 [Tensor] make ColoTensor more robust for getattr
  colossalai/tensor/_ops/element_wise.py
  colossalai/tensor/colo_tensor.py
  tests/test_tensor/test_op.py
  tests/test_tensor/test_tensor.py
Labels: Run Build and Test
