Repository hpcaitech/ColossalAI, pull requests merged in 2022-11, with the labels that each got.

#1764 [autoparallel] move ckpt solvers to autoparallel folder / refactor code
  colossalai/auto_parallel/checkpoint/__init__.py
  colossalai/auto_parallel/checkpoint/ckpt_solver_base.py
  colossalai/auto_parallel/checkpoint/ckpt_solver_chen.py
  colossalai/auto_parallel/checkpoint/ckpt_solver_rotor.py
  colossalai/auto_parallel/checkpoint/operation.py
  colossalai/fx/codegen/activation_checkpoint_codegen.py
  colossalai/fx/profiler/memory_utils.py
  colossalai/fx/profiler/profiler.py
  colossalai/fx/profiler/shard_utils.py
  colossalai/fx/profiler/tensor.py
  colossalai/fx/tracer/tracer.py
  tests/test_fx/test_ckpt_solvers/test_ckpt_torchvision.py
  tests/test_fx/test_codegen/test_activation_checkpoint_codegen.py
  tests/test_fx/test_codegen/test_nested_activation_checkpoint_codegen.py
  tests/test_fx/test_codegen/test_offload_codegen.py
  tests/test_fx/test_tracer/test_activation_checkpoint_annotation.py
Labels: Run Build and Test

#1782 [Pipeline]Adapt to Pipelinable OPT
  colossalai/pipeline/utils.py
Labels: Run Build and Test

#1763 [autoparallel] added matmul handler
  colossalai/auto_parallel/tensor_shard/node_handler/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/matmul_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/matmul_strategy_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/strategy_generator.py
  colossalai/auto_parallel/tensor_shard/utils/broadcast.py
  colossalai/tensor/sharding_spec.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_matmul_handler.py
Labels: Run Build and Test

#1780 [fx] support module with bias addition
  colossalai/fx/passes/adding_split_node_pass.py
  colossalai/fx/tracer/__init__.py
  colossalai/fx/tracer/bias_addition_patch/__init__.py
  colossalai/fx/tracer/bias_addition_patch/patched_bias_addition_function/__init__.py
  colossalai/fx/tracer/bias_addition_patch/patched_bias_addition_module/__init__.py
  colossalai/fx/tracer/bias_addition_patch/patched_bias_addition_module/bias_addition_module.py
  colossalai/fx/tracer/bias_addition_patch/patched_bias_addition_module/conv.py
  colossalai/fx/tracer/bias_addition_patch/patched_bias_addition_module/linear.py
  colossalai/fx/tracer/meta_patch/__init__.py
  colossalai/fx/tracer/meta_patch/patched_function/__init__.py
  colossalai/fx/tracer/meta_patch/patched_function/activation_function.py
  colossalai/fx/tracer/meta_patch/patched_function/arithmetic.py
  colossalai/fx/tracer/meta_patch/patched_function/convolution.py
  colossalai/fx/tracer/meta_patch/patched_function/embedding.py
  colossalai/fx/tracer/meta_patch/patched_function/normalization.py
  colossalai/fx/tracer/meta_patch/patched_function/python_ops.py
  colossalai/fx/tracer/meta_patch/patched_function/torch_ops.py
  colossalai/fx/tracer/meta_patch/patched_module/activation_function.py
  colossalai/fx/tracer/meta_patch/patched_module/convolution.py
  colossalai/fx/tracer/meta_patch/patched_module/embedding.py
  colossalai/fx/tracer/meta_patch/patched_module/linear.py
  colossalai/fx/tracer/meta_patch/patched_module/normalization.py
  colossalai/fx/tracer/meta_patch/patched_module/pooling.py
  colossalai/fx/tracer/meta_patch/patched_module/rnn.py
  colossalai/fx/tracer/registry.py
  colossalai/fx/tracer/tracer.py
  tests/test_auto_parallel/test_tensor_shard/test_deprecated/test_deprecated_cost_graph.py
  tests/test_auto_parallel/test_tensor_shard/test_deprecated/test_deprecated_op_handler/test_deprecated_conv_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_deprecated/test_deprecated_op_handler/test_deprecated_dot_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_deprecated/test_deprecated_op_handler/test_deprecated_reshape_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_deprecated/test_deprecated_strategies_constructor.py
  tests/test_fx/test_pipeline/test_hf_model/test_albert.py
  tests/test_fx/test_pipeline/test_hf_model/test_bert.py
  tests/test_fx/test_pipeline/test_hf_model/test_gpt.py
  tests/test_fx/test_pipeline/test_hf_model/test_opt.py
  tests/test_fx/test_pipeline/test_hf_model/test_t5.py
  tests/test_fx/test_pipeline/test_timm_model/test_timm.py
  tests/test_fx/test_pipeline/test_torchvision/test_torchvision.py
  tests/test_fx/test_tracer/test_bias_addition_module.py
  tests/test_fx/test_tracer/test_timm_model/test_timm_model.py
  tests/test_fx/test_tracer/test_torchaudio_model/torchaudio_utils.py
Labels: Run Build and Test

#1775 [tensorparallel] Updated TP layers
  colossalai/constants.py
  colossalai/context/parallel_mode.py
  colossalai/context/process_group_initializer/initializer_3d.py
  colossalai/global_variables.py
  colossalai/nn/layer/parallel_1d/_operation.py
  colossalai/nn/layer/parallel_1d/layers.py
  colossalai/nn/layer/parallel_3d/_operation.py
  colossalai/nn/layer/parallel_3d/_utils.py
  colossalai/nn/layer/parallel_3d/layers.py
  docker/Dockerfile
  tests/test_layers/test_3d/checks_3d/check_layer_3d.py
  tests/test_layers/test_3d/checks_3d/common.py
  tests/test_layers/test_3d/test_3d.py
Labels: Run Build and Test

#1786 [hotfix] fix zero's incompatibility with checkpoint in torch-1.12
  colossalai/gemini/chunk/chunk.py
  colossalai/gemini/chunk/manager.py
  colossalai/gemini/gemini_mgr.py
  colossalai/nn/parallel/data_parallel.py
  colossalai/tensor/colo_tensor.py
  colossalai/zero/zero_optimizer.py
  tests/test_gemini/update/test_chunkv2.py
  tests/test_gemini/update/test_fwd_bwd.py
  tests/test_gemini/update/test_optim.py
Labels: Run Build and Test

#1767 [autoparallel] add getattr handler
  colossalai/auto_parallel/tensor_shard/node_handler/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/getatrr_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/node_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/reshape_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/getattr_generator.py
  colossalai/auto_parallel/tensor_shard/solver/strategies_constructor.py
  colossalai/fx/tracer/bias_addition_patch/patched_bias_addition_module/conv.py
  colossalai/fx/tracer/tracer.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_getattr_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_param_resharding_cost.py
Labels: Run Build and Test

#1789 [autoparallel] refactor and add rotorc.
  colossalai/auto_parallel/checkpoint/build_c_ext.py
  colossalai/auto_parallel/checkpoint/ckpt_solver_rotor.c
  colossalai/auto_parallel/checkpoint/ckpt_solver_rotor.py
  colossalai/auto_parallel/checkpoint/operation.py
  colossalai/fx/profiler/profiler.py
Labels: Run Build and Test

#1783 [fx] Add linear metainfo class for auto parallel
  colossalai/auto_parallel/meta_profiler/__init__.py
  colossalai/auto_parallel/meta_profiler/meta_registry/__init__.py
  colossalai/auto_parallel/meta_profiler/meta_registry/linear.py
  colossalai/auto_parallel/meta_profiler/metainfo.py
  colossalai/auto_parallel/meta_profiler/registry.py
  colossalai/auto_parallel/tensor_shard/sharding_strategy.py
  colossalai/fx/profiler/opcount.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/test_linear_metainfo.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/utils.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_linear_handler.py
Labels: Run Build and Test

#1798 [kernel] skip tests of flash_attn and triton when they are not available
  colossalai/gemini/gemini_mgr.py
  colossalai/kernel/cuda_native/flash_attention.py
  tests/test_utils/test_flash_attention.py
Labels: Run Build and Test

#1802 [flashatt] polish code and fix test
  colossalai/kernel/cuda_native/flash_attention.py
  tests/test_utils/test_flash_attention.py
Labels: Run Build and Test

#1765 MemStatsCollectorStatic
  colossalai/gemini/gemini_mgr.py
  colossalai/gemini/memory_tracer/memstats_collector.py
  colossalai/nn/parallel/data_parallel.py
  colossalai/zero/sharded_model/sharded_model_v2.py
Labels: Run Build and Test

#1804 [kernel] more flexible flashatt interface
  colossalai/kernel/cuda_native/flash_attention.py
  tests/test_utils/test_flash_attention.py
Labels: Run Build and Test

#1803 fix build error when torch version >= 1.13
  colossalai/kernel/cuda_native/csrc/multihead_attention_1d.cpp
  colossalai/kernel/cuda_native/csrc/multihead_attention_1d.h
Labels: Run Build and Test

#1799 [fx] skip diffusers unitest if it is not installed
  requirements/requirements-test.txt
  tests/test_fx/test_tracer/test_hf_model/test_hf_diffuser.py
Labels: Run Build and Test

#1812 [fx] add a symbolic_trace api.
  colossalai/fx/__init__.py
  colossalai/fx/tracer/__init__.py
  colossalai/fx/tracer/_symbolic_trace.py
  tests/test_fx/test_tracer/test_hf_model/hf_tracer_utils.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_albert.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_bert.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_diffuser.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_gpt.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_opt.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_t5.py
  tests/test_fx/test_tracer/test_timm_model/test_timm_model.py
  tests/test_fx/test_tracer/test_torchaudio_model/torchaudio_utils.py
  tests/test_fx/test_tracer/test_torchrec_model/test_deepfm_model.py
  tests/test_fx/test_tracer/test_torchrec_model/test_dlrm_model.py
  tests/test_fx/test_tracer/test_torchvision_model/test_torchvision_model.py
Labels: Run Build and Test

#1815 [autoparallel] add batch norm metainfo
  colossalai/auto_parallel/meta_profiler/meta_registry/__init__.py
  colossalai/auto_parallel/meta_profiler/meta_registry/norm.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/test_batchnorm_metainfo.py
Labels: Run Build and Test

#1689 [CheckpointIO] a uniform checkpoint I/O module
  colossalai/utils/checkpoint_io/__init__.py
  colossalai/utils/checkpoint_io/backend.py
  colossalai/utils/checkpoint_io/constant.py
  colossalai/utils/checkpoint_io/convertor.py
  colossalai/utils/checkpoint_io/distributed.py
  colossalai/utils/checkpoint_io/io.py
  colossalai/utils/checkpoint_io/meta.py
  colossalai/utils/checkpoint_io/reader.py
  colossalai/utils/checkpoint_io/utils.py
  colossalai/utils/checkpoint_io/writer.py
  tests/test_utils/test_checkpoint_io/test_build_checkpoints.py
  tests/test_utils/test_checkpoint_io/test_load.py
  tests/test_utils/test_checkpoint_io/test_merge.py
  tests/test_utils/test_checkpoint_io/test_merge_param.py
  tests/test_utils/test_checkpoint_io/test_redist.py
  tests/test_utils/test_checkpoint_io/test_save.py
  tests/test_utils/test_checkpoint_io/test_unmerge_param.py
Labels: Run Build and Test

#1821 [Gemini] make gemini usage simple
  colossalai/nn/parallel/__init__.py
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/gemini_parallel.py
  examples/language/opt/run_clm.py
Labels: Run Build and Test

#1800 [autoparallel] fix bias addition module
  colossalai/auto_parallel/passes/runtime_apply_pass.py
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/reshape_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/reshape_generator.py
  colossalai/fx/tracer/bias_addition_patch/patched_bias_addition_module/conv.py
  colossalai/fx/tracer/meta_patch/patched_function/arithmetic.py
  tests/test_auto_parallel/test_tensor_shard/test_bias_addition_forward.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_bias_linear_module_node.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/utils.py
Labels: Run Build and Test

#1808 [autoparallel] fix bugs caused by negative dim key
  colossalai/auto_parallel/tensor_shard/node_handler/matmul_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/batch_norm_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/normal_pooling_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/strategy_generator.py
  colossalai/tensor/__init__.py
  colossalai/tensor/colo_parameter.py
  colossalai/tensor/colo_tensor.py
  colossalai/tensor/dist_spec_mgr.py
  colossalai/tensor/param_op_hook.py
  colossalai/tensor/sharding_spec.py
  colossalai/tensor/tensor_spec.py
  colossalai/tensor/utils.py
Labels: Run Build and Test

#1844 [utils] remove lazy_memory_allocate from ColoInitContext
  colossalai/utils/model/colo_init_context.py
  tests/test_tensor/model/test_model.py
  tests/test_tensor/model/test_module_spec.py
  tests/test_tensor/test_context.py
Labels: Run Build and Test

#1848 [tensorparallel] Added skip_bias_add for non-tp linear
  colossalai/nn/layer/colossalai_layer/linear.py
  colossalai/nn/layer/vanilla/__init__.py
  colossalai/nn/layer/vanilla/layers.py
Labels: Run Build and Test

#1867 [utils] fixed lazy init context
  colossalai/utils/model/lazy_init_context.py
  tests/test_fx/test_complete_workflow.py
Labels: bug, Run Build and Test

#1860 [amp] add torch amp test
  tests/test_amp/test_torch_fp16.py
Labels: Run Build and Test

#1857 [autoparallel] fix linear logical convert issue
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/linear_handler.py
  colossalai/auto_parallel/tensor_shard/solver/solver.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/utils.py
Labels: Run Build and Test

#1876 [inference] overlap comm and compute in Linear1D_Row when stream_chunk_num > 1
  colossalai/nn/layer/parallel_1d/layers.py
  tests/test_layers/test_1d/checks_1d/check_layer_1d.py
Labels: Run Build and Test

#1877 [hotfix] pass test_complete_workflow
  tests/test_fx/test_complete_workflow.py
Labels: Run Build and Test

#1878 [zero] migrate zero1&2
  colossalai/zero/__init__.py
  colossalai/zero/sharded_optim/__init__.py
  colossalai/zero/sharded_optim/bookkeeping/__init__.py
  colossalai/zero/sharded_optim/bookkeeping/base_store.py
  colossalai/zero/sharded_optim/bookkeeping/bucket_store.py
  colossalai/zero/sharded_optim/bookkeeping/gradient_store.py
  colossalai/zero/sharded_optim/bookkeeping/parameter_store.py
  colossalai/zero/sharded_optim/bookkeeping/tensor_bucket.py
  colossalai/zero/sharded_optim/low_level_optim.py
  tests/test_zero/low_level_zero/test_zero1_2.py
Labels: Run Build and Test

#1938 [tensorparallel] fixed tp layers
  colossalai/nn/layer/parallel_1d/layers.py
  colossalai/nn/layer/parallel_3d/_operation.py
  colossalai/nn/layer/parallel_3d/layers.py
Labels: Run Build and Test

#1893 [autoparallel] remove redundancy comm node
  colossalai/auto_parallel/passes/runtime_apply_pass.py
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/node_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/batch_norm_generator.py
  colossalai/tensor/comm_spec.py
Labels: Run Build and Test

#1940 [kernel] Updated flash attention API
  colossalai/kernel/cuda_native/__init__.py
  colossalai/kernel/cuda_native/flash_attention.py
  tests/test_utils/test_flash_attention.py
Labels: Run Build and Test

#1952 [hotfix] Fixed logger
  colossalai/logging/logger.py
Labels: Run Build and Test

#1953 [ColoTensor] reconfig ColoInitContext, decouple default_pg and defaul…
  colossalai/utils/model/colo_init_context.py
  tests/test_tensor/test_context.py
Labels: Run Build and Test

#1955 [zero] fix memory leak for zero2
  colossalai/zero/sharded_optim/low_level_optim.py
  tests/test_zero/low_level_zero/test_grad_clip.py
Labels: Run Build and Test

#1960 [Gemini] add GeminiAdamOptimizer
  colossalai/nn/optimizer/gemini_optimizer.py
  colossalai/nn/optimizer/hybrid_adam.py
  colossalai/nn/optimizer/zero_optimizer.py
  colossalai/nn/parallel/gemini_parallel.py
  colossalai/zero/__init__.py
  examples/language/gpt/README.md
  examples/language/gpt/train_gpt_demo.py
  examples/language/opt/run_clm.py
  examples/tutorial/opt/opt/run_clm.py
  tests/test_gemini/update/test_optim.py
  tests/test_gemini/update/test_zerooptim_state_dict.py
  tests/test_tensor/test_tp_with_zero.py
Labels: Run Build and Test

#1961 [autoparallel] support addmm in tracer and solver
  colossalai/auto_parallel/tensor_shard/node_handler/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/addmm_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/linear_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/matmul_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/matmul_strategy_generator.py
  colossalai/fx/tracer/meta_patch/patched_function/arithmetic.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_addmm_handler.py
Labels: Run Build and Test

#1962 [Gemini] polish memstats collector
  colossalai/gemini/gemini_mgr.py
  colossalai/gemini/memory_tracer/__init__.py
  colossalai/gemini/memory_tracer/chunk_memstats_collector.py
  colossalai/gemini/memory_tracer/memstats_collector.py
  colossalai/gemini/memory_tracer/static_memstats_collector.py
  colossalai/gemini/placement_policy.py
  colossalai/zero/sharded_model/sharded_model_v2.py
Labels: Run Build and Test

#1963 [polish] remove useless file _mem_tracer_hook.py
  colossalai/trainer/hooks/_mem_tracer_hook.py
Labels: Run Build and Test

#1868 [autoparallel] add torch.nn.ReLU metainfo
  colossalai/auto_parallel/meta_profiler/constants.py
  colossalai/auto_parallel/meta_profiler/meta_registry/__init__.py
  colossalai/auto_parallel/meta_profiler/meta_registry/activation.py
  colossalai/auto_parallel/meta_profiler/meta_registry/conv.py
  colossalai/auto_parallel/meta_profiler/meta_registry/linear.py
  colossalai/auto_parallel/meta_profiler/meta_registry/norm.py
  colossalai/auto_parallel/meta_profiler/metainfo.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/test_activation_metainfo.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/utils.py
Labels: Run Build and Test

#1970 [Gemini] clean no used MemTraceOp
  colossalai/gemini/ophooks/__init__.py
  colossalai/gemini/ophooks/_memtracer_ophook.py
  colossalai/utils/profiler/legacy/mem_profiler.py
Labels: Run Build and Test

#1971 [kernel] move all symlinks of kernel to `colossalai._C`
  .github/workflows/build.yml
  .github/workflows/build_gpu_8.yml
  MANIFEST.in
  colossalai/_C/__init__.pyi
  colossalai/_C/cpu_optim.pyi
  colossalai/_C/fused_optim.pyi
  colossalai/_C/layer_norm.pyi
  colossalai/_C/moe.pyi
  colossalai/_C/multihead_attention.pyi
  colossalai/_C/scaled_masked_softmax.pyi
  colossalai/_C/scaled_upper_triang_masked_softmax.pyi
  colossalai/amp/naive_amp/_fp16_optimizer.py
  colossalai/cli/check/check_installation.py
  colossalai/kernel/cuda_native/layer_norm.py
  colossalai/kernel/cuda_native/multihead_attention.py
  colossalai/kernel/cuda_native/scaled_softmax.py
  colossalai/nn/layer/moe/_operation.py
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/nn/optimizer/fused_adam.py
  colossalai/nn/optimizer/fused_lamb.py
  colossalai/nn/optimizer/fused_sgd.py
  colossalai/nn/optimizer/hybrid_adam.py
  colossalai/utils/common.py
  colossalai/utils/multi_tensor_apply/multi_tensor_apply.py
  setup.py
  tests/test_optimizer/test_cpu_adam.py
  tests/test_optimizer/test_fused_adam_kernel.py
Labels: Run Build and Test

#1972 [Gemini] ZeROHookV2 -> GeminiZeROHook
  colossalai/nn/parallel/data_parallel.py
  colossalai/zero/utils/gemini_hook.py
  docs/colossalai/colossalai.zero.utils.rst
  docs/colossalai/colossalai.zero.utils.zero_hook_v2.rst
Labels: Run Build and Test

#1973 [autoparallel] Add alpha beta
  colossalai/device/__init__.py
  colossalai/device/calc_pipeline_strategy.py
  colossalai/device/profile_alpha_beta.py
  tests/test_device/test_alpha_beta.py
Labels: Run Build and Test

#1974 [Gemini] independent runtime tracer
  colossalai/gemini/memory_tracer/__init__.py
  colossalai/gemini/memory_tracer/memory_monitor.py
  colossalai/gemini/memory_tracer/module_tracer_wrapper.py
  colossalai/gemini/ophooks/mem_trace_hook.py
Labels: Run Build and Test

#1982 [Gemini] add bert for MemtracerWrapper unintests
  colossalai/gemini/memory_tracer/module_tracer_wrapper.py
  colossalai/gemini/ophooks/mem_trace_hook.py
  tests/test_gemini/test_mem_tracer.py
  tests/test_zero/test_shard_model_v2.py
Labels: Run Build and Test

#1968 [autoparallel] add pooling metainfo
  colossalai/auto_parallel/meta_profiler/meta_registry/__init__.py
  colossalai/auto_parallel/meta_profiler/meta_registry/pooling.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/test_activation_metainfo.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/test_batchnorm_metainfo.py
  tests/test_auto_parallel/test_tensor_shard/test_metainfo/test_pooling_metainfo.py
Labels: Run Build and Test

#1984 [Gemini] open grad checkpoint when model building
  tests/test_gemini/test_mem_tracer.py
Labels: Run Build and Test

#1967 [autoparallel] support more flexible data types
  colossalai/auto_parallel/tensor_shard/node_handler/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/node_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/reshape_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/strategy_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/unary_elementwise_handler.py
Labels: Run Build and Test

#1990 [autoparallel] adapt handlers with attention block
  colossalai/auto_parallel/tensor_shard/node_handler/reshape_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/batch_norm_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/getitem_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/where_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/unary_elementwise_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/where_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_getitem_handler.py
Labels: Run Build and Test

#1989 [autoparallel] use pytree map style to process data
  colossalai/auto_parallel/tensor_shard/node_handler/node_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/strategy_generator.py
  colossalai/auto_parallel/tensor_shard/sharding_strategy.py
  colossalai/auto_parallel/tensor_shard/solver/cost_graph.py
  colossalai/auto_parallel/tensor_shard/solver/strategies_constructor.py
  colossalai/auto_parallel/tensor_shard/utils/__init__.py
  colossalai/auto_parallel/tensor_shard/utils/misc.py
Labels: Run Build and Test

#1998 [hotfix] make Gemini work for conv DNN
  colossalai/nn/_ops/element_wise.py
Labels: Run Build and Test

#2000 [fx] add more meta_registry for MetaTensor execution.
  colossalai/fx/_meta_registrations.py
  colossalai/fx/profiler/tensor.py
  colossalai/fx/tracer/_symbolic_trace.py
  examples/tutorial/auto_parallel/bench_utils.py
Labels: Run Build and Test

#2004 [Gemini] add an inline_op_module to common test models and polish unitests.
  tests/components_to_test/__init__.py
  tests/components_to_test/inline_op_model.py
  tests/test_gemini/test_param_op.py
Labels: Run Build and Test

#1977 [autoparallel] mix gather
  colossalai/device/device_mesh.py
  colossalai/tensor/comm_spec.py
  colossalai/tensor/shape_consistency.py
  colossalai/tensor/utils.py
  tests/test_tensor/test_mix_gather.py
Labels: Run Build and Test

#2011 [autoparallel] add experimental view handler
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/view_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/view_handler.py
  colossalai/auto_parallel/tensor_shard/sharding_strategy.py
  colossalai/auto_parallel/tensor_shard/solver/strategies_constructor.py
  colossalai/auto_parallel/tensor_shard/utils/__init__.py
  colossalai/auto_parallel/tensor_shard/utils/reshape.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_view_handler.py
Labels: Run Build and Test

#2015 [Gemini] add unitests to check gemini correctness
  tests/components_to_test/__init__.py
  tests/components_to_test/gpt.py
  tests/components_to_test/inline_op_model.py
  tests/components_to_test/utils/__init__.py
  tests/components_to_test/utils/executor.py
  tests/test_gemini/test_gemini_train.py
  tests/test_gemini/test_mem_tracer.py
  tests/test_gemini/test_param_op.py
  tests/test_gemini/update/test_fwd_bwd.py
  tests/test_gemini/update/test_optim.py
  tests/test_gemini/update/test_zerooptim_state_dict.py
  tests/test_tensor/model/test_gpt2.py
  tests/test_tensor/test_tp_with_zero.py
Labels: Run Build and Test

#2020 [gemini] param_trace_hook
  colossalai/gemini/ophooks/param_trace_hook.py
Labels: Run Build and Test

#2018 [autoparallel] add runtime pass and numerical test for view handler
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/view_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/linear_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_view_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/utils.py
Labels: Run Build and Test

#2025 [fx]Split partition with DAG information
  colossalai/fx/passes/split_module.py
  colossalai/fx/passes/utils.py
  tests/test_fx/test_pipeline/test_DAG/dag_utils.py
  tests/test_fx/test_pipeline/test_DAG/test_dag.py
Labels: Run Build and Test

#2003 [Gemini] patch for supporting orch.add_ function for ColoTensor
  colossalai/gemini/ophooks/param_trace_hook.py
  colossalai/nn/_ops/__init__.py
  colossalai/nn/_ops/batch_norm.py
  colossalai/nn/_ops/element_wise.py
  colossalai/nn/parallel/data_parallel.py
  tests/components_to_test/inline_op_model.py
  tests/test_gemini/test_gemini_train.py
Labels: Run Build and Test

#2030 [Gemini] paramWrapper paramTracerHook unitest
  colossalai/gemini/memory_tracer/param_tracer_wrapper.py
  colossalai/gemini/ophooks/param_trace_hook.py
  tests/test_gemini/test_param_tracer.py
Labels: Run Build and Test

#2029 [autoparallel] add experimental permute handler
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/permute_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/reshape_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/transpose_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/view_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/reshape_handler.py
  colossalai/tensor/comm_spec.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_permute_and_transpose_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_view_handler.py
Labels: Run Build and Test

#2034 [Gemini] more rigorous unit tests for run_fwd_bwd
  colossalai/gemini/ophooks/param_trace_hook.py
  tests/components_to_test/utils/executor.py
  tests/test_gemini/test_gemini_train.py
  tests/test_gemini/test_mem_tracer.py
  tests/test_gemini/update/test_fwd_bwd.py
Labels: Run Build and Test

#2032 [autoparallel] add split handler
  colossalai/auto_parallel/passes/runtime_apply_pass.py
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/reshape_generator.py
  colossalai/auto_parallel/tensor_shard/node_handler/experimental/split_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/reshape_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/output_generator.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_split_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/utils.py
Labels: Run Build and Test

#2028 [rpc] split with dag
  colossalai/fx/passes/adding_split_node_pass.py
  colossalai/fx/passes/utils.py
  colossalai/pipeline/rpc/_pipeline_base.py
  tests/test_pipeline/rpc_test_utils.py
  tests/test_pipeline/test_middleware_1f1b.py
Labels: Run Build and Test

#1964 [zero] test gradient accumulation
  colossalai/testing/random.py
  colossalai/zero/sharded_optim/_utils.py
  colossalai/zero/sharded_optim/low_level_optim.py
  tests/test_zero/low_level_zero/test_grad_acc.py
  tests/test_zero/low_level_zero/test_grad_clip.py
  tests/test_zero/low_level_zero/test_zero1_2.py
Labels: Run Build and Test

#2036 [testing] fix testing models
  tests/components_to_test/bert.py
  tests/components_to_test/inline_op_model.py
  tests/components_to_test/nested_model.py
  tests/components_to_test/no_leaf_module.py
  tests/components_to_test/repeated_computed_layer.py
  tests/components_to_test/simple_net.py
  tests/test_gemini/update/test_fwd_bwd.py
Labels: Run Build and Test

#2038 [Gemini] more tests for Gemini
  tests/components_to_test/bert.py
  tests/test_gemini/update/test_optim.py
  tests/test_gemini/update/test_zeroddp_state_dict.py
Labels: Run Build and Test

#2039 [zero] fix unit-tests
  tests/components_to_test/utils/executor.py
  tests/test_gemini/test_mem_tracer.py
  tests/test_gemini/update/test_fwd_bwd.py
  tests/test_gemini/update/test_optim.py
Labels: Run Build and Test

#2042 [zero] fix testing parameters
  tests/test_gemini/update/test_optim.py
Labels: Run Build and Test

#2045 [test] align model name with the file name.
  tests/components_to_test/__init__.py
  tests/components_to_test/gpt2.py
  tests/components_to_test/hanging_param_model.py
  tests/test_gemini/test_mem_tracer.py
  tests/test_gemini/test_param_op.py
  tests/test_gemini/update/test_optim.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_moe/test_moe_zero_optim.py
  tests/test_zero/test_shard_model_v2.py
  tests/test_zero/test_sharded_optim_v2.py
Labels: Run Build and Test

#2040 free and allocate cuda memory by tensor.storage, add grad hook
  colossalai/gemini/memory_tracer/param_tracer_wrapper.py
  colossalai/gemini/ophooks/param_trace_hook.py
  colossalai/gemini/tensor_utils.py
  tests/test_gemini/test_param_tracer.py
Labels: Run Build and Test

#2050 [cli] updated installation cheheck with more inforamtion
  colossalai/cli/check/check_installation.py
Labels: enhancement, Run Build and Test
