Repository hpcaitech/ColossalAI, pull requests merged in 2022-03, with the labels that each got.

#303 Refactored github action
  .github/workflows/PR_CI.yml
  .github/workflows/assign_reviewer.yml
  .github/workflows/build.yml
  .github/workflows/close_inactive.yml
  .github/workflows/release.yml
  .github/workflows/submodule.yml
  setup.py
Labels: Run Build and Test, DevOps

#307 [zero] a shard strategy in granularity of tensor
  colossalai/zero/shard_utils/__init__.py
  colossalai/zero/shard_utils/base_shard_strategy.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#310 [zero] polish shard strategy
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_param/sharded_tensor.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#288 [zero] cpu adam kernel
  colossalai/kernel/cuda_native/csrc/cpu_adam.cpp
  colossalai/kernel/cuda_native/csrc/cpu_adam.h
  colossalai/nn/optimizer/__init__.py
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/zero/sharded_optim/sharded_optim.py
  setup.py
  tests/test_optimizer/unittest_cpu_adam.py
Labels: Run Build and Test

#316 add badge and contributors
  README-zh-Hans.md
  README.md
Labels: documentation

#306 [profile] add profiler communication operations
  colossalai/communication/__init__.py
  colossalai/trainer/hooks/_lr_scheduler_hook.py
  colossalai/utils/__init__.py
  colossalai/utils/profiler/__init__.py
  colossalai/utils/profiler/comm_profiler.py
  tests/test_profiler/test_comm_prof.py
Labels: Run Build and Test

#321 [zero] zero init context
  colossalai/zero/init_ctx/__init__.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/test_init_context.py
Labels: Run Build and Test

#324 refactored testing components
  tests/components_to_test/__init__.py
  tests/components_to_test/nested_model.py
  tests/components_to_test/registry.py
  tests/components_to_test/repeated_computed_layer.py
  tests/components_to_test/resnet.py
  tests/components_to_test/utils/__init__.py
  tests/components_to_test/utils/dummy_data_generator.py
  tests/test_engine/test_engine.py
  tests/test_engine/test_engine/test_engine_apex_amp.py
  tests/test_engine/test_engine/test_engine_naive_amp.py
  tests/test_engine/test_engine/test_engine_no_amp.py
  tests/test_engine/test_engine/test_engine_torch_amp.py
  tests/test_engine/test_param_hook.py
Labels: Run Build and Test

#327 [zero] update zero context init with the updated test utils
  colossalai/engine/ophooks/_memtracer_ophook.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/shard_utils/base_shard_strategy.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/components_to_test/nested_model.py
  tests/components_to_test/repeated_computed_layer.py
  tests/components_to_test/resnet.py
  tests/test_engine/test_engine.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#330 [profiler] add adaptive sampling to memory profiler
  colossalai/engine/ophooks/_memtracer_ophook.py
Labels: Run Build and Test

#336 [fix] set criterion as optional in colossalai initialize
  colossalai/amp/torch_amp/__init__.py
  colossalai/engine/_base_engine.py
  colossalai/initialize.py
Labels: Run Build and Test

#334 [zero] update sharded optim v2
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#340 Added Profiler Context to manage all profilers
  colossalai/utils/profiler/__init__.py
  colossalai/utils/profiler/comm_profiler.py
  colossalai/utils/profiler/prof_utils.py
  tests/test_profiler/test_comm_prof.py
Labels: Run Build and Test

#345 [zero] move async memory to an individual directory
  colossalai/engine/ophooks/_memtracer_ophook.py
  colossalai/utils/memory_tracer/__init__.py
  colossalai/utils/memory_tracer/async_memtracer.py
  colossalai/utils/memory_tracer/test_async_memtracer.py
Labels: Run Build and Test

#347 [zero] add test sharded optim with cpu adam
  tests/test_zero_data_parallel/test_sharded_optim_v2_with_cpu_adam.py
Labels: Run Build and Test

#351 [test] polish zero related unitest
  colossalai/zero/sharded_model/utils.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_model_with_ctx.py
  tests/test_zero_data_parallel/test_sharded_optim_v2_with_cpu_adam.py
Labels: Run Build and Test

#365 [zero] able to place params on cpu after zero init context
  colossalai/engine/ophooks/zero_hook.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_param/sharded_tensor.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
Labels: Run Build and Test

#401 merge develop to main
  README-zh-Hans.md
  README.md
  colossalai/utils/profiler/pcie_profiler.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
Labels: Run Build and Test

#403 [zero] Add bucket tensor shard strategy
  colossalai/engine/ophooks/zero_hook.py
  colossalai/zero/shard_utils/__init__.py
  colossalai/zero/shard_utils/bucket_tensor_shard_strategy.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_shard_param.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2_with_cpu_adam.py
  tests/test_zero_data_parallel/test_state_dict.py
Labels: Run Build and Test

#406 [zero] new interface for ShardedOptimv2
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/components_to_test/bert.py
  tests/components_to_test/nested_model.py
  tests/components_to_test/repeated_computed_layer.py
  tests/components_to_test/resnet.py
  tests/test_engine/test_engine.py
  tests/test_trainer/test_trainer_with_non_pipe_schedule.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2_with_cpu_adam.py
Labels: Run Build and Test

#413 [hotfix] rm test_tensor_detector.py
  tests/test_utils/test_tensor_detector.py
Labels: Run Build and Test

#395 [zero] memtracer to record cuda memory usage of model data and overall system
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/memory_tracer/allocator.py
  colossalai/utils/memory_tracer/async_memtracer.py
  colossalai/utils/memory_tracer/commons.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/memory_tracer/test_memstats_collector.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_utils/test_activation_checkpointing.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#392 refactored fp16 optimizer
  colossalai/amp/naive_amp/__init__.py
  colossalai/amp/naive_amp/_fp16_optimizer.py
  colossalai/amp/naive_amp/_utils.py
  colossalai/amp/naive_amp/grad_scaler/base_grad_scaler.py
  colossalai/amp/naive_amp/grad_scaler/dynamic_grad_scaler.py
  colossalai/amp/naive_amp/naive_amp.py
  colossalai/initialize.py
  colossalai/zero/sharded_optim/sharded_optim.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_amp/test_naive_fp16.py
Labels: Run Build and Test

#416 [zero] refactory ShardedOptimV2 init method
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2_with_cpu_adam.py
Labels: Run Build and Test

#417 [polish] use GLOBAL_MODEL_DATA_TRACER
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/memory_tracer/allocator.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/memory_tracer/test_memstats_collector.py
  colossalai/zero/init_ctx/init_context.py
  tests/test_amp/test_naive_fp16.py
  tests/test_zero_data_parallel/test_init_context.py
Labels: Run Build and Test

#418 [zero] cuda margin space for OS
  colossalai/utils/commons/memory.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#424 [hotfix] run cpu adam unittest in pytest
  tests/test_optimizer/unittest_cpu_adam.py
Labels: Run Build and Test

#430 fixed gpt attention mask in pipeline
  model_zoo/gpt/gpt.py
Labels: bug

#432 fixed fp16 optimizer none grad bug
  colossalai/amp/naive_amp/_fp16_optimizer.py
Labels: bug

#435 [feature] added testing module
  colossalai/testing/__init__.py
  colossalai/testing/comparison.py
  colossalai/testing/utils.py
Labels: enhancement

#431 [refactory] refactory the initialize method for new zero design
  colossalai/initialize.py
  colossalai/zero/__init__.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_with_sync_bn.py
  tests/test_zero_data_parallel/test_zero_init_v2.py
Labels: Run Build and Test

#438 [unitest] polish zero config in unittest
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_sharded_optim_with_sync_bn.py
  tests/test_zero_data_parallel/test_zero_init_v2.py
Labels: Run Build and Test

#440 [doc] update contributing.md with the current workflow
  CONTRIBUTING.md
Labels: documentation

#442 [hotfix] fix initialize bug with zero
  colossalai/amp/__init__.py
  colossalai/amp/apex_amp/__init__.py
  colossalai/amp/naive_amp/__init__.py
  colossalai/amp/torch_amp/__init__.py
  colossalai/initialize.py
  colossalai/utils/commons/memory.py
  colossalai/zero/__init__.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  tests/test_data_pipeline_tensor_parallel/test_cifar_with_data_pipeline_tensor.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_sharded_optim_with_sync_bn.py
  tests/test_zero_data_parallel/test_zero_engine.py
Labels: Run Build and Test

#445 [zero] hybrid cpu adam
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/zero/__init__.py
Labels: Run Build and Test

#448 [test] optimize engine and trainer test
  tests/test_data_pipeline_tensor_parallel/test_cifar_with_data_pipeline_tensor.py
  tests/test_engine/test_engine.py
  tests/test_trainer/test_pipeline/test_p2p.py
  tests/test_trainer/test_pipeline/test_pipeline_schedule.py
  tests/test_trainer/test_trainer_with_non_pipe_schedule.py
  tests/test_trainer/test_trainer_with_pipe_schedule.py
Labels: Run Build and Test, DevOps

#447 [test] make zero engine test really work
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/zero/shard_utils/bucket_tensor_shard_strategy.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_zero_engine.py
Labels: Run Build and Test

#449 [DevOps] remove unneeded dependency in build workflow
  .github/workflows/build.yml
Labels: Run Build and Test, DevOps

#452 [test] optimized zero data parallel test
  tests/test_utils/test_gradient_accumluation.py
  tests/test_utils/test_zero_gradient_clippling.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_shard_param.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_state_dict.py
Labels: Run Build and Test, DevOps

#457 [zero] update sharded optim and fix zero init ctx
  colossalai/initialize.py
  colossalai/zero/__init__.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_with_sync_bn.py
  tests/test_zero_data_parallel/test_state_dict.py
  tests/test_zero_data_parallel/test_zero_engine.py
Labels: Run Build and Test

#458 [zero] Update initialize for ZeRO
  colossalai/engine/ophooks/zero_hook.py
  colossalai/initialize.py
  colossalai/zero/__init__.py
  colossalai/zero/shard_utils/base_shard_strategy.py
  colossalai/zero/shard_utils/bucket_tensor_shard_strategy.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_param.py
  tests/test_zero_data_parallel/test_sharded_optim_with_sync_bn.py
  tests/test_zero_data_parallel/test_zero_engine.py
Labels: Run Build and Test

#454 [test] fixed amp convergence comparison test
  tests/test_amp/test_naive_fp16.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#467 [MOE] redirect moe_env from global_variables to core
  colossalai/core.py
  colossalai/engine/gradient_handler/_moe_gradient_handler.py
  colossalai/nn/layer/moe/_operation.py
  colossalai/nn/layer/moe/experts.py
  colossalai/nn/layer/moe/layers.py
  colossalai/nn/layer/moe/utils.py
  colossalai/nn/loss/loss_moe.py
  colossalai/utils/moe.py
Labels: Run Build and Test

#471 [zero] zero init ctx receives a dp process group
  colossalai/zero/init_ctx/init_context.py
Labels: Run Build and Test

#469 [MOE] add unitest for MOE experts layout, gradient handler and kernel
  colossalai/context/process_group_initializer/__init__.py
  colossalai/context/process_group_initializer/initializer_moe.py
  colossalai/global_variables.py
  colossalai/initialize.py
  colossalai/nn/optimizer/fused_adam.py
  colossalai/nn/optimizer/fused_lamb.py
  colossalai/utils/common.py
  model_zoo/moe/models.py
  tests/test_moe/test_grad_handler.py
  tests/test_moe/test_kernel.py
  tests/test_moe/test_moe_group.py
  tests/test_moe/test_top1.py
  tests/test_moe/test_top2.py
Labels: Run Build and Test

#477 [zero] ZeRO supports pipeline parallel
  colossalai/engine/gradient_handler/_pipeline_parallel_gradient_handler.py
  colossalai/engine/schedule/_pipeline_schedule.py
  colossalai/zero/sharded_model/sharded_model_v2.py
Labels: Run Build and Test

#481 [format] polish name format for MOE
  colossalai/context/moe_context.py
  colossalai/engine/gradient_handler/_moe_gradient_handler.py
  colossalai/nn/layer/moe/experts.py
  colossalai/utils/moe.py
  tests/test_moe/test_grad_handler.py
  tests/test_moe/test_moe_group.py
Labels: Run Build and Test

#480 add LinearGate for MOE in NaiveAMP context
  colossalai/nn/layer/moe/layers.py
  colossalai/nn/layer/moe/utils.py
Labels: Run Build and Test

#484 [zero] polish sharded param name
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/commons/bucket_tensor_copy.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_model/utils.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/__init__.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_utils/test_bucket_tensor_copy.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#486 [zero] sharded optim support hybrid cpu adam
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#490 [zero] polish sharded optimizer v2
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#488 [MOE] support PR-MOE
  colossalai/nn/layer/moe/__init__.py
  colossalai/nn/layer/moe/layers.py
  model_zoo/moe/models.py
Labels: Run Build and Test

#492 [zero] sharded model manages ophooks individually
  colossalai/zero/sharded_model/sharded_model_v2.py
Labels: Run Build and Test

#495 [zero] sharded model support the reuse of fp16 shard
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_zero_engine.py
Labels: Run Build and Test

#500 [polish] polish singleton and global context
  colossalai/context/__init__.py
  colossalai/context/moe_context.py
  colossalai/context/parallel_context.py
  colossalai/context/singleton_meta.py
  colossalai/core.py
  colossalai/engine/gradient_handler/_moe_gradient_handler.py
  colossalai/initialize.py
  colossalai/nn/layer/moe/experts.py
  colossalai/nn/layer/moe/layers.py
  colossalai/nn/layer/moe/utils.py
  colossalai/nn/loss/loss_moe.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/moe.py
  model_zoo/moe/models.py
  tests/test_amp/test_naive_fp16.py
  tests/test_moe/test_grad_handler.py
  tests/test_moe/test_kernel.py
  tests/test_moe/test_moe_group.py
Labels: Run Build and Test

#503 [memory] add model data tensor moving api
  colossalai/utils/__init__.py
  colossalai/utils/commons/memory.py
  colossalai/utils/memory_tracer/allocator.py
  colossalai/utils/memory_tracer/commons.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/memory_utils/__init__.py
  colossalai/utils/memory_utils/memory_monitor.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_utils/test_commons.py
Labels: Run Build and Test

#509 [devops] recover tsinghua pip source due to proxy issue
  .github/workflows/build.yml
  .github/workflows/compatibility_test.yml
Labels: Run Build and Test

#506 [memory] set cuda mem frac
  colossalai/utils/commons/__init__.py
  colossalai/utils/memory_tracer/async_memtracer.py
  colossalai/utils/memory_utils/bucket_tensor_copy.py
  colossalai/utils/memory_utils/utils.py
  tests/test_utils/test_bucket_tensor_copy.py
Labels: Run Build and Test

#512 [zero] zero init ctx enable rm_torch_payload_on_the_fly
  colossalai/zero/init_ctx/init_context.py
Labels: Run Build and Test

#515 [zero] show model data cuda memory usage after zero context init.
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  tests/test_utils/test_commons.py
Labels: Run Build and Test

#516 [zero] fix init device bug in zero init context unittest
  colossalai/utils/memory_tracer/async_memtracer.py
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/memory_utils/memory_monitor.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  tests/test_zero_data_parallel/test_init_context.py
Labels: Run Build and Test

#521 [zero] add model data tensor inline moving API
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/init_ctx/init_context.py
  tests/test_utils/test_commons.py
Labels: Run Build and Test

#497 [cuda] modify the fused adam, support hybrid of fp16 and fp32
  colossalai/kernel/cuda_native/csrc/multi_tensor_adam.cu
  colossalai/kernel/cuda_native/csrc/type_shim.h
  colossalai/nn/optimizer/fused_adam.py
  tests/test_optimizer/unittest_cpu_adam.py
  tests/test_optimizer/unittest_fused_adam.py
  tests/test_optimizer/unittest_fused_adam_kernel.py
Labels: Run Build and Test

#517 [refactor] remove old zero code
  colossalai/engine/schedule/_pipeline_schedule.py
  colossalai/zero/__init__.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/shard_utils/commons.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_model/__init__.py
  colossalai/zero/sharded_model/_utils.py
  colossalai/zero/sharded_model/param_manager.py
  colossalai/zero/sharded_model/sharded_grad.py
  colossalai/zero/sharded_model/sharded_model.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/__init__.py
  colossalai/zero/sharded_optim/bookkeeping/__init__.py
  colossalai/zero/sharded_optim/bookkeeping/base_store.py
  colossalai/zero/sharded_optim/bookkeeping/bucket_store.py
  colossalai/zero/sharded_optim/bookkeeping/gradient_store.py
  colossalai/zero/sharded_optim/bookkeeping/parameter_store.py
  colossalai/zero/sharded_optim/bookkeeping/tensor_bucket.py
  colossalai/zero/sharded_optim/sharded_optim.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_utils/test_commons.py
  tests/test_utils/test_zero_gradient_clippling.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim.py
  tests/test_zero_data_parallel/test_zero_param_mgr.py
  tests/test_zero_tensor_parallel/components.py
  tests/test_zero_tensor_parallel/test_vit_2d_level_2.py
  tests/test_zero_tensor_parallel/test_vit_2d_level_3.py
Labels: Run Build and Test

#487 [test] fixed rerun_on_exception and adapted test cases
  colossalai/testing/utils.py
  tests/test_amp/test_naive_fp16.py
  tests/test_comm/test_comm.py
  tests/test_context/test_hybrid_parallel.py
  tests/test_data/test_data_parallel_sampler.py
  tests/test_data/test_deterministic_dataloader.py
  tests/test_data_pipeline_tensor_parallel/test_cifar_with_data_pipeline_tensor.py
  tests/test_engine/test_engine.py
  tests/test_layers/test_1d/test_1d.py
  tests/test_layers/test_2d/test_2d.py
  tests/test_layers/test_2p5d/test_2p5d.py
  tests/test_layers/test_3d/test_3d.py
  tests/test_layers/test_sequence/test_sequence.py
  tests/test_moe/test_grad_handler.py
  tests/test_moe/test_kernel.py
  tests/test_moe/test_moe_group.py
  tests/test_trainer/test_pipeline/test_p2p.py
  tests/test_trainer/test_pipeline/test_partition.py
  tests/test_trainer/test_pipeline/test_pipeline_schedule.py
  tests/test_trainer/test_trainer_with_non_pipe_schedule.py
  tests/test_trainer/test_trainer_with_pipe_schedule.py
  tests/test_utils/test_commons.py
  tests/test_utils/test_gradient_accumluation.py
  tests/test_utils/test_zero_gradient_clippling.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_shard_param.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_with_sync_bn.py
  tests/test_zero_data_parallel/test_state_dict.py
  tests/test_zero_data_parallel/test_zero_engine.py
Labels: Run Build and Test

#522 [zero] refactor model data tracing
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/shard_utils/bucket_tensor_shard_strategy.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_param/sharded_tensor.py
  tests/test_utils/test_tensor_move.py
  tests/test_zero_data_parallel/test_init_context.py
Labels: Run Build and Test

#528 [zero] fix grad offload
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#536 [zero] get memory usage for sharded param
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#538 [zero] improve the accuracy of get_memory_usage of sharded param
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#535 [Zero] process no-leaf-module in Zero
  colossalai/engine/ophooks/__init__.py
  colossalai/engine/ophooks/zero_hook.py
  colossalai/zero/init_ctx/init_context.py
  tests/components_to_test/__init__.py
  tests/components_to_test/no_leaf_module.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#542 [zero] get memory usage of sharded optim v2.
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#540 [zero] polish ZeroInitContext
  colossalai/zero/init_ctx/init_context.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_shard_model_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
  tests/test_zero_data_parallel/test_sharded_optim_with_sync_bn.py
  tests/test_zero_data_parallel/test_state_dict.py
  tests/test_zero_data_parallel/test_zero_engine.py
Labels: Run Build and Test

#539 [zero] optimize grad offload
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#356 [profiler] add MemProfiler
  README-zh-Hans.md
  README.md
  colossalai/engine/_base_engine.py
  colossalai/engine/ophooks/_memtracer_ophook.py
  colossalai/trainer/hooks/_mem_tracer_hook.py
  colossalai/utils/memory_tracer/async_memtracer.py
  colossalai/utils/profiler/__init__.py
  colossalai/utils/profiler/mem_profiler.py
Labels: Run Build and Test

#545 [zero] non model data tracing
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/shard_utils/tensor_shard_strategy.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_zero_data_parallel/test_init_context.py
  tests/test_zero_data_parallel/test_sharded_optim_v2.py
Labels: Run Build and Test

#546 [zero] add zero config to neutralize zero context init
  colossalai/nn/layer/moe/experts.py
  colossalai/nn/layer/moe/layers.py
  colossalai/zero/init_ctx/__init__.py
  colossalai/zero/init_ctx/init_context.py
  tests/test_moe/test_moe_zero_init.py
Labels: Run Build and Test

#541 Add gather_out arg to Linear
  colossalai/nn/layer/colossalai_layer/linear.py
Labels: Run Build and Test

#548 [zero] dump memory stats for sharded model
  colossalai/utils/memory_tracer/memstats_collector.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
Labels: Run Build and Test

#549 [zero] add stateful tensor
  colossalai/engine/ophooks/zero_hook.py
  colossalai/zero/sharded_model/_utils.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  colossalai/zero/sharded_param/sharded_tensor.py
  colossalai/zero/sharded_param/tensorful_state.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#551 [zero] label state for param fp16 and grad
  colossalai/engine/ophooks/zero_hook.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  colossalai/zero/sharded_param/sharded_tensor.py
  colossalai/zero/sharded_param/tensorful_state.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#554 [zero] hijack p.grad in sharded model
  colossalai/engine/ophooks/zero_hook.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#553 [utils] update colo tensor moving APIs
  colossalai/utils/memory_utils/utils.py
Labels: Run Build and Test

#558 [polish] rename col_attr -> colo_attr
  colossalai/engine/ophooks/zero_hook.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_model/utils.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_zero_data_parallel/common.py
  tests/test_zero_data_parallel/test_init_context.py
Labels: Run Build and Test

#571 [zero] trace states of fp16/32 grad and fp32 param
  colossalai/utils/memory_utils/utils.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  colossalai/zero/sharded_param/sharded_param.py
  tests/test_zero_data_parallel/test_shard_param.py
Labels: Run Build and Test

#561 [zero] adapt zero for unsharded parameters
  colossalai/engine/gradient_handler/_moe_gradient_handler.py
  colossalai/engine/ophooks/__init__.py
  colossalai/nn/layer/moe/experts.py
  colossalai/nn/layer/moe/layers.py
  colossalai/nn/layer/moe/utils.py
  colossalai/utils/memory_tracer/model_data_memtracer.py
  colossalai/zero/init_ctx/init_context.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  tests/test_moe/test_moe_zero_init.py
  tests/test_moe/test_moe_zero_model.py
  tests/test_zero_data_parallel/common.py
Labels: Run Build and Test
