Repository hpcaitech/ColossalAI, pull requests merged in 2023-11, with the labels that each got.

#4995 [release] update version
  .github/workflows/release_test_pypi_before_merge.yml
  version.txt
Labels: release

#5025 [ColossalEval] Support mtbench
  applications/ColossalEval/colossal_eval/dataset/__init__.py
  applications/ColossalEval/colossal_eval/dataset/mtbench.py
  applications/ColossalEval/colossal_eval/evaluate/dataset_evaluator/dataset_evaluator.py
  applications/ColossalEval/colossal_eval/evaluate/dataset_evaluator/gpt_judge.py
  applications/ColossalEval/colossal_eval/evaluate/dataset_evaluator/metrics.py
  applications/ColossalEval/colossal_eval/models/huggingface.py
  applications/ColossalEval/colossal_eval/utils/conversation.py
  applications/ColossalEval/examples/dataset_evaluation/eval_dataset.py
  applications/ColossalEval/examples/dataset_evaluation/inference.py
Labels: code reviewing, colossal-llama2

#4942 [gemini] gemini support tensor parallelism.
  colossalai/booster/plugin/gemini_plugin.py
  colossalai/cluster/process_group_mesh.py
  colossalai/shardformer/layer/_operation.py
  colossalai/shardformer/layer/embedding.py
  colossalai/shardformer/layer/normalization.py
  colossalai/shardformer/modeling/bloom.py
  colossalai/shardformer/policies/t5.py
  colossalai/tensor/d_tensor/__init__.py
  colossalai/tensor/d_tensor/api.py
  colossalai/zero/gemini/gemini_ddp.py
  colossalai/zero/gemini/gemini_optimizer.py
  tests/test_booster/test_plugin/test_gemini_plugin.py
  tests/test_checkpoint_io/test_gemini_checkpoint_io.py
Labels: gemini, shardformer

#5052 [npu] gemini support npu
  colossalai/booster/plugin/gemini_plugin.py
  colossalai/utils/device.py
  colossalai/zero/gemini/chunk/chunk.py
  colossalai/zero/gemini/chunk/manager.py
  colossalai/zero/gemini/gemini_ddp.py
  colossalai/zero/gemini/gemini_mgr.py
  colossalai/zero/gemini/gemini_optimizer.py
  examples/language/llama2/benchmark.py
  examples/language/llama2/performance_evaluator.py
Labels: enhancement

#5065 [kernel] add arm cpu adam kernel
  colossalai/kernel/cuda_native/csrc/cpu_adam.h
  colossalai/kernel/cuda_native/csrc/cpu_adam_arm.cpp
  colossalai/kernel/cuda_native/csrc/cpu_adam_arm.h
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/nn/optimizer/hybrid_adam.py
  op_builder/__init__.py
  op_builder/arm_cpu_adam.py
  op_builder/builder.py
Labels: enhancement

#5067 [npu] add npu support for gemini and zero
  colossalai/amp/naive_amp/grad_scaler/base_grad_scaler.py
  colossalai/amp/naive_amp/grad_scaler/dynamic_grad_scaler.py
  colossalai/auto_parallel/offload/solver.py
  colossalai/booster/plugin/gemini_plugin.py
  colossalai/booster/plugin/low_level_zero_plugin.py
  colossalai/initialize.py
  colossalai/kernel/cuda_native/csrc/cpu_adam.h
  colossalai/kernel/cuda_native/csrc/cpu_adam_arm.cpp
  colossalai/kernel/cuda_native/csrc/cpu_adam_arm.h
  colossalai/kernel/cuda_native/mha/utils.py
  colossalai/legacy/engine/schedule/_pipeline_schedule.py
  colossalai/legacy/engine/schedule/_pipeline_schedule_v2.py
  colossalai/legacy/nn/layer/parallel_1d/layers.py
  colossalai/legacy/nn/layer/parallel_2d/layers.py
  colossalai/legacy/nn/layer/parallel_2p5d/layers.py
  colossalai/legacy/nn/layer/parallel_3d/layers.py
  colossalai/legacy/nn/layer/vanilla/layers.py
  colossalai/legacy/zero/gemini/stateful_tensor_mgr.py
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/nn/optimizer/hybrid_adam.py
  colossalai/pipeline/schedule/generate.py
  colossalai/pipeline/schedule/interleaved_pp.py
  colossalai/pipeline/schedule/one_f_one_b.py
  colossalai/shardformer/layer/normalization.py
  colossalai/utils/__init__.py
  colossalai/utils/cuda.py
  colossalai/utils/device.py
  colossalai/utils/timer.py
  colossalai/zero/gemini/chunk/chunk.py
  colossalai/zero/gemini/chunk/manager.py
  colossalai/zero/gemini/gemini_ddp.py
  colossalai/zero/gemini/gemini_mgr.py
  colossalai/zero/gemini/gemini_optimizer.py
  colossalai/zero/low_level/low_level_optim.py
  examples/language/llama2/benchmark.py
  examples/language/llama2/performance_evaluator.py
  op_builder/__init__.py
  op_builder/arm_cpu_adam.py
  op_builder/builder.py
  tests/test_booster/test_plugin/test_low_level_zero_plugin.py
  tests/test_legacy/test_utils/test_memory.py
  tests/test_zero/test_gemini/test_fwd_bwd.py
  tests/test_zero/test_gemini/test_grad_accum.py
  tests/test_zero/test_gemini/test_inference.py
  tests/test_zero/test_gemini/test_optim.py
  tests/test_zero/test_low_level/test_grad_acc.py
Labels: enhancement

#5090 [npu] add npu support for hybrid plugin and llama
  colossalai/booster/mixed_precision/fp16_torch.py
  colossalai/booster/plugin/hybrid_parallel_plugin.py
  colossalai/device/device_mesh.py
  colossalai/legacy/amp/torch_amp/torch_amp.py
  colossalai/legacy/utils/activation_checkpoint.py
  colossalai/shardformer/layer/utils.py
  colossalai/testing/utils.py
  colossalai/utils/device.py
  examples/language/llama2/benchmark.py
Labels: enhancement

#5105 [shardformer] add tests to mistral
  colossalai/shardformer/policies/auto_policy.py
  colossalai/shardformer/policies/bloom.py
  colossalai/shardformer/policies/falcon.py
  colossalai/shardformer/policies/mistral.py
  colossalai/shardformer/policies/opt.py
  colossalai/shardformer/policies/whisper.py
  tests/kit/model_zoo/transformers/__init__.py
  tests/kit/model_zoo/transformers/mistral.py
  tests/test_shardformer/test_model/test_shard_mistral.py
Labels: shardformer
