Repository hpcaitech/ColossalAI, pull requests merged in 2023-03, with the labels that each got.

#2944 [chatgpt]add inference example
  applications/ChatGPT/examples/README.md
  applications/ChatGPT/examples/inference.py
Labels: chatgpt

#2946 [DTensor] implementation of dtensor
  colossalai/tensor/d_tensor/d_tensor.py
  colossalai/tensor/d_tensor/layout.py
  tests/test_tensor/test_dtensor.py
Labels: enhancement, Run Build and Test

#2974 [chatgpt]fix lora bug
  applications/ChatGPT/chatgpt/nn/reward_model.py
  applications/ChatGPT/chatgpt/trainer/rm.py
  applications/ChatGPT/examples/train_reward_model.py
Labels: bug, chatgpt

#2971 [chatgpt] making experience support dp
  applications/ChatGPT/chatgpt/trainer/base.py
  applications/ChatGPT/chatgpt/trainer/strategies/base.py
  applications/ChatGPT/chatgpt/trainer/strategies/ddp.py
  applications/ChatGPT/chatgpt/trainer/strategies/sampler.py
  applications/ChatGPT/examples/test_ci.sh
  applications/ChatGPT/examples/train_dummy.py
  applications/ChatGPT/examples/train_prompts.py
  applications/ChatGPT/tests/test_data.py
Labels: enhancement, chatgpt

#2986 [chatgpt] allow shard init and display warning
  applications/ChatGPT/chatgpt/trainer/strategies/colossalai.py
Labels: bug, chatgpt

#2886 [kernel] cached the op kernel and fixed version check
  op_builder/README.md
  op_builder/builder.py
  op_builder/utils.py
  setup.py
Labels: enhancement, Run Build and Test

#2996 [doc] add deepspeed citation and copyright
  colossalai/engine/_base_engine.py
  colossalai/fx/profiler/experimental/profiler_function/arithmetic.py
  colossalai/fx/profiler/experimental/profiler_module/convolution.py
  colossalai/fx/profiler/experimental/profiler_module/normalization.py
  colossalai/gemini/ophooks/utils.py
  colossalai/kernel/cuda_native/csrc/kernels/cublas_wrappers.cu
  colossalai/kernel/cuda_native/csrc/kernels/include/cublas_wrappers.h
  colossalai/kernel/cuda_native/csrc/kernels/include/feed_forward.h
  colossalai/kernel/cuda_native/csrc/kernels/include/strided_batch_gemm.h
  colossalai/kernel/cuda_native/csrc/multi_tensor_adam.cu
  colossalai/kernel/cuda_native/csrc/multi_tensor_apply.cuh
  colossalai/kernel/cuda_native/csrc/type_shim.h
  colossalai/nn/optimizer/fused_adam.py
  colossalai/nn/optimizer/zero_optimizer.py
  colossalai/utils/model/utils.py
  colossalai/zero/sharded_model/sharded_model_v2.py
  colossalai/zero/sharded_optim/low_level_optim.py
  colossalai/zero/sharded_optim/sharded_optim_v2.py
  op_builder/builder.py
Labels: documentation

#2977 [refactor] restructure configuration files
  .clang-format
  .github/CONTRIBUTING.md
  .isort.cfg
  .pre-commit-config.yaml
  .style.yapf
  pyproject.toml
  pytest.ini
Labels: Run Build and Test

#3025 [chatgpt] fix readme
  applications/ChatGPT/examples/README.md
Labels: chatgpt

#2313 [autoparallel] stable and user-friendly of auto-ckpt solvers
  colossalai/fx/passes/algorithms/__init__.py
  colossalai/fx/passes/algorithms/build_c_ext.py
  colossalai/fx/passes/algorithms/ckpt_solver_chen.py
  colossalai/fx/passes/algorithms/ckpt_solver_pofo.py
  colossalai/fx/passes/algorithms/ckpt_solver_rotor.py
  colossalai/fx/passes/algorithms/dynamic_programs.c
  colossalai/fx/passes/algorithms/linearize.py
  colossalai/fx/passes/algorithms/operation.py
Labels: Run Build and Test, suspended, auto-parallel

#2987 [DTensor] refactor sharding spec
  colossalai/tensor/d_tensor/__init__.py
  colossalai/tensor/d_tensor/layout.py
  colossalai/tensor/d_tensor/misc.py
  colossalai/tensor/d_tensor/sharding_spec.py
  tests/test_tensor/test_dtensor/test_dtensor.py
  tests/test_tensor/test_dtensor/test_sharding_spec.py
Labels: enhancement, Run Build and Test

#3022 [revert] recover "[refactor] restructure configuration files (#2977)"
  .clang-format
  .isort.cfg
  .pre-commit-config.yaml
  .style.yapf
  CONTRIBUTING.md
  pyproject.toml
  pytest.ini
Labels: bug, Run Build and Test

#3020 [workflow] fixed the post-commit failure when no formatting needed
  .github/workflows/post_commit.yml
Labels: DevOps

#3028 [workflow] supported conda package installation in doc test
  .github/workflows/doc_check_on_pr.yml
  .github/workflows/doc_test_on_pr.yml
  docs/README.md
  docs/conda-doc-test-deps.yml
Labels: documentation, enhancement

#3029 [hotfix] skip auto checkpointing tests
  tests/test_auto_parallel/test_ckpt_solvers/test_C_solver_consistency.py
  tests/test_auto_parallel/test_ckpt_solvers/test_ckpt_torchvision.py
  tests/test_auto_parallel/test_ckpt_solvers/test_linearize.py
  tests/test_tensor/test_dtensor/test_dtensor_sharding_spec.py
Labels: Run Build and Test

#3014 [doc] update nvme offload doc
  docs/requirements-doc-test.txt
  docs/source/en/features/nvme_offload.md
  docs/source/zh-Hans/features/nvme_offload.md
Labels: documentation

#3019 [doc] specified operating system requirement
  README-zh-Hans.md
  README.md
  docs/source/en/get_started/installation.md
  docs/source/zh-Hans/get_started/installation.md
  setup.py
Labels: Run Build and Test

#3037 support shardinit option to avoid OPT OOM initializing problem
  examples/language/opt/run_gemini.sh
  examples/language/opt/train_gemini_opt.py
Labels: Run Build and Test

#2762 [autochunk] refactor chunk memory estimation
  colossalai/autochunk/autochunk_codegen.py
  colossalai/autochunk/estimate_memory.py
  colossalai/autochunk/search_chunk.py
  colossalai/autochunk/select_chunk.py
  colossalai/autochunk/trace_indice.py
  colossalai/autochunk/utils.py
  tests/test_autochunk/test_autochunk_alphafold/benchmark_autochunk_alphafold.py
  tests/test_autochunk/test_autochunk_alphafold/test_autochunk_evoformer_block.py
  tests/test_autochunk/test_autochunk_alphafold/test_autochunk_extramsa_block.py
  tests/test_autochunk/test_autochunk_transformer/benchmark_autochunk_transformer.py
  tests/test_autochunk/test_autochunk_transformer/test_autochunk_gpt.py
  tests/test_autochunk/test_autochunk_transformer/test_autochunk_transformer_utils.py
Labels: enhancement, Run Build and Test

#3056 [booster] init module structure and definition
  colossalai/booster/__init__.py
  colossalai/booster/accelerator.py
  colossalai/booster/booster.py
  colossalai/booster/environment_table.py
  colossalai/booster/plugin.py
  colossalai/booster/precision.py
Labels: API

#3072 [workflow] fixed doc build trigger condition
  .github/workflows/doc_build_after_merge.yml
Labels: bug, DevOps

#3075 [doc] moved doc test command to bottom
  docs/README.md
  docs/source/en/features/nvme_offload.md
  docs/source/en/get_started/installation.md
  docs/source/zh-Hans/features/nvme_offload.md
  docs/source/zh-Hans/get_started/installation.md
Labels: bug, documentation

#3057 [release] v0.2.6
  version.txt
Labels: release

#3082 [doc] fixed typos in docs/README.md
  docs/README.md
Labels: documentation

#2852 [analyzer] a minimal implementation of static graph analyzer
  colossalai/_analyzer/README.md
  colossalai/_analyzer/_subclasses/__init__.py
  colossalai/_analyzer/_subclasses/_meta_registration.py
  colossalai/_analyzer/_subclasses/_monkey_patch.py
  colossalai/_analyzer/_subclasses/flop_tensor.py
  colossalai/_analyzer/_subclasses/meta_tensor.py
  colossalai/_analyzer/envs.py
  colossalai/_analyzer/fx/__init__.py
  colossalai/_analyzer/fx/bias_addition.py
  colossalai/_analyzer/fx/codegen.py
  colossalai/_analyzer/fx/graph_module.py
  colossalai/_analyzer/fx/node_util.py
  colossalai/_analyzer/fx/passes/__init__.py
  colossalai/_analyzer/fx/passes/graph_profile.py
  colossalai/_analyzer/fx/passes/shape_prop.py
  colossalai/_analyzer/fx/symbolic_profile.py
  colossalai/_analyzer/fx/symbolic_trace.py
  colossalai/fx/passes/concrete_info_prop.py
  colossalai/fx/passes/meta_info_prop.py
  colossalai/fx/profiler/opcount.py
  tests/test_analyzer/test_fx/__init__.py
  tests/test_analyzer/test_fx/test_bias_addition.py
  tests/test_analyzer/test_fx/test_mod_dir.py
  tests/test_analyzer/test_fx/test_nested_ckpt.py
  tests/test_analyzer/test_fx/test_shape_prop.py
  tests/test_analyzer/test_fx/test_symbolic_profile.py
  tests/test_analyzer/test_fx/zoo.py
  tests/test_analyzer/test_subclasses/__init__.py
  tests/test_analyzer/test_subclasses/test_aten.py
  tests/test_analyzer/test_subclasses/test_flop_tensor.py
  tests/test_analyzer/test_subclasses/test_meta_mode.py
  tests/test_analyzer/test_subclasses/zoo.py
Labels: Run Build and Test, auto-parallel

#3094 [release] v0.2.7
  version.txt
Labels: release

#3099 [chatgpt] fix lora save bug
  applications/ChatGPT/chatgpt/models/lora.py
  applications/ChatGPT/chatgpt/trainer/strategies/colossalai.py
  applications/ChatGPT/chatgpt/trainer/strategies/ddp.py
Labels: bug, chatgpt

#3116 [chatgpt]Fix examples
  applications/ChatGPT/examples/train_dummy.py
  applications/ChatGPT/examples/train_prompts.py
Labels: bug, chatgpt

#3121 [autochunk] support complete benchmark
  tests/test_autochunk/test_autochunk_alphafold/benchmark_autochunk_alphafold.py
  tests/test_autochunk/test_autochunk_diffuser/benchmark_autochunk_diffuser.py
  tests/test_autochunk/test_autochunk_transformer/benchmark_autochunk_transformer.py
Labels: enhancement, Run Build and Test

#3128 [workflow] purged extension cache before GPT test
  .github/workflows/run_chatgpt_examples.yml
  .github/workflows/run_chatgpt_unit_tests.yml
Labels: bug, DevOps

#3129 [test] added timm models to test model zoo
  tests/kit/__init__.py
  tests/kit/model_zoo/__init__.py
  tests/kit/model_zoo/registry.py
  tests/kit/model_zoo/timm/__init__.py
  tests/kit/model_zoo/timm/timm.py
  tests/test_fx/test_tracer/test_timm_model/test_timm_model.py
Labels: enhancement, Run Build and Test

#3131 [lazyinit] refactor lazy tensor and lazy init ctx
  colossalai/utils/model/experimental.py
Labels: Run Build and Test, lazyinit

#3089 [DTensor] refactor dtensor with new components
  colossalai/tensor/d_tensor/d_tensor.py
  colossalai/tensor/d_tensor/layout_converter.py
  tests/test_tensor/test_dtensor/test_dtensor.py
Labels: enhancement, Run Build and Test

#3136 [tests] diffuser models in model zoo
  requirements/requirements-test.txt
  tests/kit/model_zoo/__init__.py
  tests/kit/model_zoo/diffusers/__init__.py
  tests/kit/model_zoo/diffusers/diffusers.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_diffuser.py
Labels: Run Build and Test

#3132 [test] added torchvision models to test model zoo
  tests/kit/model_zoo/__init__.py
  tests/kit/model_zoo/registry.py
  tests/kit/model_zoo/torchvision/__init__.py
  tests/kit/model_zoo/torchvision/torchvision.py
  tests/test_fx/test_tracer/test_torchvision_model/test_torchvision_model.py
Labels: Run Build and Test

#3135 [test] added transformers models to test model zoo
  tests/kit/model_zoo/__init__.py
  tests/kit/model_zoo/transformers/__init__.py
  tests/kit/model_zoo/transformers/albert.py
  tests/kit/model_zoo/transformers/bert.py
  tests/kit/model_zoo/transformers/gpt.py
  tests/kit/model_zoo/transformers/opt.py
  tests/kit/model_zoo/transformers/t5.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_albert.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_bert.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_gpt.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_opt.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_t5.py
Labels: Run Build and Test

#3138 [tests] model zoo add torchaudio models
  tests/kit/model_zoo/__init__.py
  tests/kit/model_zoo/torchaudio/__init__.py
  tests/kit/model_zoo/torchaudio/torchaudio.py
  tests/test_fx/test_tracer/test_torchaudio_model/test_torchaudio_general.py
  tests/test_fx/test_tracer/test_torchaudio_model/test_torchaudio_model.py
  tests/test_fx/test_tracer/test_torchaudio_model/test_torchaudio_tacotron.py
  tests/test_fx/test_tracer/test_torchaudio_model/test_torchaudio_transformer.py
  tests/test_fx/test_tracer/test_torchaudio_model/test_torchaudio_wave2vec.py
  tests/test_fx/test_tracer/test_torchaudio_model/torchaudio_utils.py
Labels: Run Build and Test

#3147 [lazyinit] add correctness verification
  colossalai/utils/model/experimental.py
  tests/kit/model_zoo/torchrec/__init__.py
  tests/test_utils/test_lazy_init/test_models.py
  tests/test_utils/test_lazy_init/utils.py
Labels: Run Build and Test, lazyinit

#3162 [chatgpt] fix ppo training hanging problem with gemini
  applications/ChatGPT/chatgpt/models/generation.py
  applications/ChatGPT/examples/train_prompts.py
Labels: bug, chatgpt

#3166 [chatgpt] fix trainer generate kwargs
  applications/ChatGPT/chatgpt/trainer/ppo.py
Labels: bug, chatgpt

#3133 [chatgpt]Reward Model Training Process update
  applications/ChatGPT/chatgpt/dataset/__init__.py
  applications/ChatGPT/chatgpt/dataset/reward_dataset.py
  applications/ChatGPT/chatgpt/models/__init__.py
  applications/ChatGPT/chatgpt/models/bloom/bloom_rm.py
  applications/ChatGPT/chatgpt/models/gpt/gpt_rm.py
  applications/ChatGPT/chatgpt/models/loss.py
  applications/ChatGPT/chatgpt/models/opt/opt_rm.py
  applications/ChatGPT/chatgpt/trainer/rm.py
  applications/ChatGPT/examples/README.md
  applications/ChatGPT/examples/test_ci.sh
  applications/ChatGPT/examples/train_reward_model.py
  applications/ChatGPT/examples/train_rm.sh
Labels: chatgpt

#3167 [test] fixed torchrec model test
  tests/kit/model_zoo/torchrec/torchrec.py
  tests/test_booster/test_mixed_precision/test_fp16_torch.py
  tests/test_fx/test_tracer/test_torchrec_model/test_deepfm_model.py
  tests/test_fx/test_tracer/test_torchrec_model/test_dlrm_model.py
  tests/test_gemini/update/test_fwd_bwd.py
Labels: Run Build and Test

#3159 [booster] added the accelerator implementation
  colossalai/booster/accelerator.py
  colossalai/booster/booster.py
  tests/test_booster/test_accelerator.py
  tests/test_fx/test_tracer/test_torchrec_model/test_dlrm_model.py
Labels: Run Build and Test

#3177 [test] fixed torchrec registration in model zoo
  tests/kit/model_zoo/torchrec/torchrec.py
  tests/test_fx/test_tracer/test_torchrec_model/test_deepfm_model.py
  tests/test_fx/test_tracer/test_torchrec_model/test_dlrm_model.py
Labels: Run Build and Test

#3178 [hotfix] Improved flash attention usage
  LICENSE
  colossalai/kernel/cuda_native/flash_attention.py
  tests/test_utils/test_flash_attention.py
Labels: Run Build and Test

#3188 [hotfix] layout converting issue
  colossalai/tensor/d_tensor/layout_converter.py
Labels: bug, Run Build and Test

#3154 [auto-parallel] add auto-offload feature
  colossalai/auto_parallel/offload/__init__.py
  colossalai/auto_parallel/offload/amp_optimizer.py
  colossalai/auto_parallel/offload/base_offload_module.py
  colossalai/auto_parallel/offload/mem_optimize.py
  colossalai/auto_parallel/offload/region.py
  colossalai/auto_parallel/offload/region_manager.py
  colossalai/auto_parallel/offload/runtime.py
  colossalai/auto_parallel/offload/solver.py
  colossalai/auto_parallel/offload/training_simulator.py
  colossalai/auto_parallel/offload/util.py
  examples/language/gpt/experiments/auto_offload/README.md
  examples/language/gpt/experiments/auto_offload/model_zoo.py
  examples/language/gpt/experiments/auto_offload/requirements.txt
  examples/language/gpt/experiments/auto_offload/run.sh
  examples/language/gpt/experiments/auto_offload/train_gpt_offload.py
  tests/test_auto_parallel/test_offload/model_utils.py
  tests/test_auto_parallel/test_offload/test_perf.py
  tests/test_auto_parallel/test_offload/test_solver.py
Labels: Run Build and Test, auto-parallel

#3180 [booster] added the plugin base and torch ddp plugin
  colossalai/booster/booster.py
  colossalai/booster/plugin.py
  colossalai/booster/plugin/__init__.py
  colossalai/booster/plugin/plugin_base.py
  colossalai/booster/plugin/torch_ddp_plugin.py
  tests/test_booster/test_accelerator.py
  tests/test_booster/test_mixed_precision/test_fp16_torch.py
  tests/test_booster/test_plugin/test_torch_ddp_plugin.py
Labels: enhancement, Run Build and Test, API

#3183 [chatgpt] add supervised learning fine-tune code
  applications/ChatGPT/chatgpt/dataset/__init__.py
  applications/ChatGPT/chatgpt/dataset/sft_dataset.py
  applications/ChatGPT/chatgpt/models/base/__init__.py
  applications/ChatGPT/chatgpt/models/base/lm.py
  applications/ChatGPT/chatgpt/models/bloom/__init__.py
  applications/ChatGPT/chatgpt/models/bloom/bloom_lm.py
  applications/ChatGPT/chatgpt/models/gpt/__init__.py
  applications/ChatGPT/chatgpt/models/gpt/gpt_lm.py
  applications/ChatGPT/chatgpt/models/opt/__init__.py
  applications/ChatGPT/chatgpt/models/opt/opt_lm.py
  applications/ChatGPT/chatgpt/trainer/__init__.py
  applications/ChatGPT/chatgpt/trainer/sft.py
  applications/ChatGPT/examples/train_sft.py
  applications/ChatGPT/examples/train_sft.sh
Labels: chatgpt

#3157 [FX] refactor experimental tracer and adapt it with hf models
  colossalai/_analyzer/_subclasses/_meta_registration.py
  colossalai/_analyzer/_subclasses/_monkey_patch.py
  colossalai/_analyzer/_subclasses/flop_tensor.py
  colossalai/_analyzer/fx/__init__.py
  colossalai/_analyzer/fx/graph_module.py
  colossalai/_analyzer/fx/node_util.py
  colossalai/_analyzer/fx/passes/shape_prop.py
  colossalai/_analyzer/fx/tracer/__init__.py
  colossalai/_analyzer/fx/tracer/bias_addition.py
  colossalai/_analyzer/fx/tracer/custom_leaf_module.py
  colossalai/_analyzer/fx/tracer/proxy.py
  colossalai/_analyzer/fx/tracer/symbolic_trace.py
  colossalai/_analyzer/fx/tracer/tracer.py
  tests/kit/model_zoo/__init__.py
  tests/kit/model_zoo/transformers/gpt.py
  tests/test_analyzer/test_fx/test_bias_addition.py
  tests/test_fx/test_tracer/test_hf_model/hf_tracer_utils.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_albert.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_bert.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_gpt.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_opt.py
  tests/test_fx/test_tracer/test_hf_model/test_hf_t5.py
  tests/test_fx/test_tracer/test_timm_model/test_timm_model.py
  tests/test_fx/test_tracer/test_torchaudio_model/test_torchaudio_model.py
  tests/test_fx/test_tracer/test_torchaudio_model/torchaudio_utils.py
  tests/test_fx/test_tracer/test_torchrec_model/test_deepfm_model.py
  tests/test_fx/test_tracer/test_torchrec_model/test_dlrm_model.py
  tests/test_fx/test_tracer/test_torchvision_model/test_torchvision_model.py
Labels: Run Build and Test, auto-parallel

#3197 [Analyzer] fix analyzer tests
  tests/test_analyzer/test_fx/test_bias_addition.py
  tests/test_analyzer/test_fx/test_shape_prop.py
  tests/test_analyzer/test_fx/test_symbolic_profile.py
  tests/test_analyzer/test_fx/zoo.py
  tests/test_analyzer/test_subclasses/test_flop_tensor.py
  tests/test_analyzer/test_subclasses/test_meta_mode.py
  tests/test_analyzer/test_subclasses/zoo.py
Labels: bug, Run Build and Test

#3191 [booster] implemented the cluster module
  colossalai/cluster/__init__.py
  colossalai/cluster/device_mesh_manager.py
  colossalai/cluster/dist_coordinator.py
  colossalai/cluster/process_group_manager.py
Labels: API

#3204 [lazyinit] combine lazy tensor with dtensor
  colossalai/utils/model/experimental.py
  tests/test_utils/test_lazy_init/test_distribute.py
  tests/test_utils/test_lazy_init/utils.py
Labels: enhancement, Run Build and Test, lazyinit

#3205 [api] implemented the checkpoint io module
  colossalai/checkpoint_io/__init__.py
  colossalai/checkpoint_io/checkpoint_io_base.py
  colossalai/checkpoint_io/general_checkpoint_io.py
  tests/test_checkpoint_io/test_general_checkpoint_io.py
Labels: enhancement, Run Build and Test, API

#3233 [chatgpt] add precision option for colossalai
  applications/ChatGPT/chatgpt/trainer/strategies/colossalai.py
Labels: chatgpt

#3211 [hotfix] skip torchaudio tracing test
  tests/test_fx/test_tracer/test_torchaudio_model/test_torchaudio_model.py
  tests/test_utils/test_lazy_init/test_distribute.py
Labels: Run Build and Test, testing

#3221 [API] implement device mesh manager
  colossalai/cluster/device_mesh_manager.py
  tests/test_cluster/test_device_mesh_manager.py
Labels: Run Build and Test, API

#3227 [tensor] Add interface for colo tesnor dp size
  colossalai/gemini/chunk/manager.py
  colossalai/tensor/colo_tensor.py
Labels: Run Build and Test

#3232 [booster] implemented the torch ddd + resnet example
  colossalai/booster/__init__.py
  colossalai/booster/booster.py
  colossalai/booster/environment_table.py
  colossalai/booster/interface/__init__.py
  colossalai/booster/mixed_precision/fp16_torch.py
  colossalai/booster/mixed_precision/mixed_precision_base.py
  colossalai/booster/plugin/plugin_base.py
  colossalai/booster/plugin/torch_ddp_plugin.py
  colossalai/checkpoint_io/checkpoint_io_base.py
  colossalai/checkpoint_io/general_checkpoint_io.py
  colossalai/cluster/dist_coordinator.py
  colossalai/interface/__init__.py
  colossalai/interface/model.py
  colossalai/interface/optimizer.py
  examples/tutorial/new_api/README.md
  examples/tutorial/new_api/test_ci.sh
  examples/tutorial/new_api/torch_ddp/.gitignore
  examples/tutorial/new_api/torch_ddp/README.md
  examples/tutorial/new_api/torch_ddp/eval.py
  examples/tutorial/new_api/torch_ddp/train.py
  tests/test_booster/test_plugin/test_torch_ddp_plugin.py
  tests/test_checkpoint_io/test_general_checkpoint_io.py
Labels: enhancement, Run Build and Test, example, API

#3253 [fx] meta registration compatibility
  colossalai/fx/_compatibility.py
  colossalai/fx/_meta_regist_12.py
  colossalai/fx/_meta_regist_13.py
Labels: Run Build and Test, auto-parallel

#3305 [release] v0.2.8
  version.txt
Labels: release

#3332 [hotfix] meta_tensor_compatibility_with_torch2
  colossalai/fx/_compatibility.py
  colossalai/fx/profiler/opcount.py
Labels: compatibility

#3261 [autoparallel] adapt autoparallel with new analyzer
  colossalai/_analyzer/_subclasses/_meta_registration.py
  colossalai/_analyzer/fx/passes/shape_prop.py
  colossalai/_analyzer/fx/tracer/bias_addition.py
  colossalai/auto_parallel/meta_profiler/metainfo.py
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/bmm_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/matmul_strategy_generator.py
  colossalai/fx/_meta_regist_12.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_addmm_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_batch_norm_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_bias_linear_function_node.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_bias_linear_module_node.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_binary_elementwise_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_bmm_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_conv_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_default_reshape_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_embedding_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_getattr_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_getitem_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_layer_norm_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_linear_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_matmul_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_norm_pooling_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_output_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_permute_and_transpose_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_placeholder_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_shard_option.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_softmax_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_split_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_sum_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_tensor_constructor.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_unary_element_wise_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_view_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_where_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/utils.py
  tests/test_fx/test_pipeline/test_topo/test_topo.py
Labels: Run Build and Test, auto-parallel

#3354 [moe] add checkpoint for moe models
  colossalai/nn/layer/moe/__init__.py
  colossalai/nn/layer/moe/checkpoint.py
  colossalai/nn/layer/moe/experts.py
  colossalai/nn/layer/moe/layers.py
  tests/test_moe/test_moe_checkpoint.py
Labels: Run Build and Test

#3352 [booster] implement Gemini plugin
  colossalai/booster/plugin/__init__.py
  colossalai/booster/plugin/gemini_plugin.py
  tests/test_booster/test_plugin/test_gemini_plugin.py
Labels: Run Build and Test, API
