Repository hpcaitech/ColossalAI, pull requests merged in 2023-01, with the labels that each got.

#2248 [autoparallel] Hook all meta information on ResNet nodes for auto activation checkpoint
  colossalai/auto_parallel/meta_profiler/meta_registry/binary_elementwise_ops.py
  colossalai/auto_parallel/meta_profiler/metainfo.py
  colossalai/auto_parallel/passes/comm_metainfo_pass.py
  colossalai/auto_parallel/passes/meta_info_prop.py
  colossalai/auto_parallel/passes/runtime_apply_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/node_handler.py
Labels: Run Build and Test

#2232 [Pipeline Middleware] Reduce comm redundancy by getting accurate output
  colossalai/pipeline/rpc/_pipeline_base.py
Labels: Run Build and Test

#2269 [Gemini] fix the convert_to_torch_module bug
  colossalai/gemini/gemini_mgr.py
  colossalai/gemini/placement_policy.py
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/utils.py
Labels: Run Build and Test

#2270 [autoparallel] fix spelling mistakes
  colossalai/auto_parallel/tensor_shard/deprecated/op_handler/dot_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/getattr_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/output_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/placeholder_handler.py
  colossalai/auto_parallel/tensor_shard/solver/strategies_constructor.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_getattr_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_getitem_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_output_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_placeholder_handler.py
Labels: Run Build and Test

#2273 [hotfix] fix fp16 optimzier bug
  colossalai/amp/naive_amp/_fp16_optimizer.py
Labels: Run Build and Test

#2275 [zero] polish low level zero optimizer
  colossalai/zero/sharded_optim/low_level_optim.py
Labels: Run Build and Test

#2278 [hotfix] Improved allgather & reducescatter for 3D
  colossalai/communication/collective.py
  colossalai/nn/layer/parallel_3d/_operation.py
  colossalai/nn/layer/parallel_3d/layers.py
  tests/test_layers/test_3d/checks_3d/check_layer_3d.py
Labels: Run Build and Test

#2277 [builder] MOE builder
  colossalai/kernel/__init__.py
  colossalai/kernel/op_builder/__init__.py
  colossalai/kernel/op_builder/builder.py
  colossalai/kernel/op_builder/moe.py
  colossalai/nn/layer/moe/_operation.py
  setup.py
Labels: Run Build and Test

#2258 [autockpt] provide option for activation checkpoint search in SPMD solver
  colossalai/auto_parallel/checkpoint/ckpt_solver_base.py
  colossalai/auto_parallel/checkpoint/ckpt_solver_chen.py
  colossalai/auto_parallel/checkpoint/ckpt_solver_rotor.py
  colossalai/auto_parallel/meta_profiler/constants.py
  colossalai/auto_parallel/meta_profiler/meta_registry/binary_elementwise_ops.py
  colossalai/auto_parallel/meta_profiler/metainfo.py
  colossalai/auto_parallel/passes/comm_metainfo_pass.py
  colossalai/auto_parallel/passes/constants.py
  colossalai/auto_parallel/passes/meta_info_prop.py
  colossalai/auto_parallel/passes/runtime_apply_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/binary_elementwise_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/node_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/reshape_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/unary_elementwise_handler.py
  colossalai/fx/profiler/shard_utils.py
  colossalai/tensor/shape_consistency.py
Labels: Run Build and Test

#2283 [amp] add gradient clipping for unit tests
  colossalai/amp/naive_amp/_fp16_optimizer.py
  colossalai/amp/naive_amp/naive_amp.py
  colossalai/testing/comparison.py
  tests/test_amp/test_naive_fp16.py
  tests/test_amp/test_torch_fp16.py
Labels: Run Build and Test

#2314 [builder] reconfig op_builder for pypi install
  MANIFEST.in
  colossalai/kernel/op_builder
  colossalai/kernel/op_builder/__init__.py
  colossalai/kernel/op_builder/builder.py
  colossalai/kernel/op_builder/cpu_adam.py
  colossalai/kernel/op_builder/fused_optim.py
  colossalai/kernel/op_builder/moe.py
  colossalai/kernel/op_builder/multi_head_attn.py
  colossalai/kernel/op_builder/scaled_upper_triang_masked_softmax.py
  colossalai/kernel/op_builder/utils.py
  op_builder/builder.py
  op_builder/cpu_adam.py
  op_builder/fused_optim.py
  op_builder/moe.py
  op_builder/multi_head_attn.py
  op_builder/scaled_upper_triang_masked_softmax.py
  tests/test_optimizer/test_cpu_adam.py
Labels: Run Build and Test

#2317 [workflow] rebuild cuda kernels when kernel-related files change
  .github/workflows/build.yml
Labels: DevOps

#2326 [NFC] polish colossalai/auto_parallel/tensor_shard/deprecated/op_hand…
  colossalai/auto_parallel/tensor_shard/deprecated/op_handler/unary_elementwise_handler.py
Labels: Run Build and Test

#2336 [setup] make cuda extension build optional
  .github/workflows/build.yml
  .github/workflows/build_gpu_8.yml
  setup.py
Labels: Run Build and Test

#2311 [device] alpha beta profiler
  colossalai/auto_parallel/tensor_shard/initialize.py
  colossalai/device/__init__.py
  colossalai/device/alpha_beta_profiler.py
  colossalai/device/profile_alpha_beta.py
  tests/test_device/test_alpha_beta.py
Labels: Run Build and Test

#2340 [NFC] polish colossalai/auto_parallel/tensor_shard/deprecated/graph_a…
  colossalai/auto_parallel/tensor_shard/deprecated/graph_analysis.py
Labels: Run Build and Test

#2356 [gemini] add get static torch model
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/utils.py
  examples/images/dreambooth/train_dreambooth_colossalai.py
  tests/test_gemini/update/test_get_torch_model.py
Labels: Run Build and Test

#2367 [NFC] polish code format
  colossalai/auto_parallel/tensor_shard/deprecated/constants.py
  colossalai/auto_parallel/tensor_shard/deprecated/graph_analysis.py
  colossalai/auto_parallel/tensor_shard/deprecated/op_handler/batch_norm_handler.py
  colossalai/auto_parallel/tensor_shard/deprecated/op_handler/unary_elementwise_handler.py
  colossalai/auto_parallel/tensor_shard/utils/factory.py
Labels: Run Build and Test

#2370 [NFC] polish code format
  colossalai/auto_parallel/tensor_shard/deprecated/constants.py
  colossalai/auto_parallel/tensor_shard/deprecated/graph_analysis.py
  colossalai/auto_parallel/tensor_shard/deprecated/op_handler/batch_norm_handler.py
  colossalai/auto_parallel/tensor_shard/deprecated/op_handler/embedding_handler.py
  colossalai/auto_parallel/tensor_shard/deprecated/op_handler/unary_elementwise_handler.py
  colossalai/auto_parallel/tensor_shard/utils/factory.py
Labels: Run Build and Test

#2342 [device] find best logical mesh
  colossalai/device/alpha_beta_profiler.py
  tests/test_device/test_extract_alpha_beta.py
  tests/test_device/test_search_logical_device_mesh.py
Labels: Run Build and Test

#2389 [hotfix] issue #2388
  colossalai/kernel/cuda_native/layer_norm.py
  colossalai/kernel/cuda_native/scaled_softmax.py
Labels: Run Build and Test

#2387 [workflow] added missing file change detection output
  .github/workflows/build.yml
Labels: Run Build and Test, DevOps

#2395 [cli] updated installation check cli for aot/jit build
  colossalai/cli/check/check_installation.py
Labels: Run Build and Test

#2363 Fix state_dict key missing issue of the ZeroDDP
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/utils.py
Labels: Run Build and Test

#2403 [workflow] added nightly release to pypi
  .github/workflows/release_nightly.yml
  setup.py
Labels: Run Build and Test

#2385 [doc] updated kernel-related optimisers' docstring
  colossalai/nn/optimizer/cpu_adam.py
  colossalai/nn/optimizer/fused_adam.py
  colossalai/nn/optimizer/fused_lamb.py
  colossalai/nn/optimizer/fused_sgd.py
  colossalai/nn/optimizer/hybrid_adam.py
Labels: Run Build and Test

#2405 [polish] polish code for get_static_torch_model
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/utils.py
  tests/test_gemini/update/test_grad_clip.py
  tests/test_gemini/update/test_optim.py
  tests/test_gemini/update/test_zeroddp_state_dict.py
  tests/test_tensor/test_tp_with_zero.py
Labels: Run Build and Test

#2399 [worfklow] added coverage test
  .github/workflows/build.yml
  .gitignore
  requirements/requirements-test.txt
Labels: Run Build and Test

#2410 [docker] updated Dockerfile and release workflow
  .github/workflows/release_docker.yml
  docker/Dockerfile
Labels: DevOps

#2408 Fix a typo in parallel_context.py
  colossalai/context/parallel_context.py
Labels: Run Build and Test

#2414 [workflow] added translation for non-english comments
  .github/workflows/translate_comment.yml
Labels: enhancement

#2413 [setup] refactored setup.py for dependency graph
  setup.py
Labels: Run Build and Test

#2416 [hotfix] add norm clearing for the overflow step
  colossalai/nn/optimizer/zero_optimizer.py
Labels: Run Build and Test

#2364 [autochunk] add autochunk feature
  colossalai/autochunk/autochunk_codegen.py
  colossalai/autochunk/estimate_memory.py
  colossalai/autochunk/reorder_graph.py
  colossalai/autochunk/search_chunk.py
  colossalai/autochunk/select_chunk.py
  colossalai/autochunk/trace_flow.py
  colossalai/autochunk/trace_indice.py
  colossalai/autochunk/utils.py
  tests/test_autochunk/benchmark_autochunk.py
  tests/test_autochunk/evoformer/evoformer.py
  tests/test_autochunk/evoformer/initializer.py
  tests/test_autochunk/evoformer/kernel.py
  tests/test_autochunk/evoformer/msa.py
  tests/test_autochunk/evoformer/ops.py
  tests/test_autochunk/evoformer/triangle.py
  tests/test_autochunk/openfold/checkpointing.py
  tests/test_autochunk/openfold/dropout.py
  tests/test_autochunk/openfold/evoformer.py
  tests/test_autochunk/openfold/msa.py
  tests/test_autochunk/openfold/outer_product_mean.py
  tests/test_autochunk/openfold/pair_transition.py
  tests/test_autochunk/openfold/primitives.py
  tests/test_autochunk/openfold/tensor_utils.py
  tests/test_autochunk/openfold/triangular_attention.py
  tests/test_autochunk/openfold/triangular_multiplicative_update.py
  tests/test_autochunk/test_autochunk_codegen.py
  tests/test_autochunk/test_autochunk_search.py
Labels: Run Build and Test

#2420 [doc] added documentation for CI/CD
  .github/workflows/README.md
  README-zh-Hans.md
  README.md
Labels: documentation, DevOps

#2424 [example] removed duplicated stable diffusion example
  examples/tutorial/README.md
  examples/tutorial/stable_diffusion/LICENSE
  examples/tutorial/stable_diffusion/README.md
  examples/tutorial/stable_diffusion/configs/train_colossalai.yaml
  examples/tutorial/stable_diffusion/configs/train_colossalai_cifar10.yaml
  examples/tutorial/stable_diffusion/configs/train_ddp.yaml
  examples/tutorial/stable_diffusion/configs/train_pokemon.yaml
  examples/tutorial/stable_diffusion/environment.yaml
  examples/tutorial/stable_diffusion/ldm/data/__init__.py
  examples/tutorial/stable_diffusion/ldm/data/base.py
  examples/tutorial/stable_diffusion/ldm/data/cifar10.py
  examples/tutorial/stable_diffusion/ldm/data/imagenet.py
  examples/tutorial/stable_diffusion/ldm/data/lsun.py
  examples/tutorial/stable_diffusion/ldm/lr_scheduler.py
  examples/tutorial/stable_diffusion/ldm/models/autoencoder.py
  examples/tutorial/stable_diffusion/ldm/models/diffusion/__init__.py
  examples/tutorial/stable_diffusion/ldm/models/diffusion/classifier.py
  examples/tutorial/stable_diffusion/ldm/models/diffusion/ddim.py
  examples/tutorial/stable_diffusion/ldm/models/diffusion/ddpm.py
  examples/tutorial/stable_diffusion/ldm/models/diffusion/plms.py
  examples/tutorial/stable_diffusion/ldm/modules/attention.py
  examples/tutorial/stable_diffusion/ldm/modules/diffusionmodules/__init__.py
  examples/tutorial/stable_diffusion/ldm/modules/diffusionmodules/model.py
  examples/tutorial/stable_diffusion/ldm/modules/diffusionmodules/openaimodel.py
  examples/tutorial/stable_diffusion/ldm/modules/diffusionmodules/util.py
  examples/tutorial/stable_diffusion/ldm/modules/distributions/__init__.py
  examples/tutorial/stable_diffusion/ldm/modules/distributions/distributions.py
  examples/tutorial/stable_diffusion/ldm/modules/ema.py
  examples/tutorial/stable_diffusion/ldm/modules/encoders/__init__.py
  examples/tutorial/stable_diffusion/ldm/modules/encoders/modules.py
  examples/tutorial/stable_diffusion/ldm/modules/flash_attention.py
  examples/tutorial/stable_diffusion/ldm/modules/image_degradation/__init__.py
  examples/tutorial/stable_diffusion/ldm/modules/image_degradation/bsrgan.py
  examples/tutorial/stable_diffusion/ldm/modules/image_degradation/bsrgan_light.py
  examples/tutorial/stable_diffusion/ldm/modules/image_degradation/utils/test.png
  examples/tutorial/stable_diffusion/ldm/modules/image_degradation/utils_image.py
  examples/tutorial/stable_diffusion/ldm/modules/losses/__init__.py
  examples/tutorial/stable_diffusion/ldm/modules/losses/contperceptual.py
  examples/tutorial/stable_diffusion/ldm/modules/losses/vqperceptual.py
  examples/tutorial/stable_diffusion/ldm/modules/x_transformer.py
  examples/tutorial/stable_diffusion/ldm/util.py
  examples/tutorial/stable_diffusion/main.py
  examples/tutorial/stable_diffusion/requirements.txt
  examples/tutorial/stable_diffusion/scripts/download_first_stages.sh
  examples/tutorial/stable_diffusion/scripts/download_models.sh
  examples/tutorial/stable_diffusion/scripts/img2img.py
  examples/tutorial/stable_diffusion/scripts/inpaint.py
  examples/tutorial/stable_diffusion/scripts/knn2img.py
  examples/tutorial/stable_diffusion/scripts/sample_diffusion.py
  examples/tutorial/stable_diffusion/scripts/tests/test_checkpoint.py
  examples/tutorial/stable_diffusion/scripts/tests/test_watermark.py
  examples/tutorial/stable_diffusion/scripts/train_searcher.py
  examples/tutorial/stable_diffusion/scripts/txt2img.py
  examples/tutorial/stable_diffusion/setup.py
  examples/tutorial/stable_diffusion/train.sh
Labels: bug, Run Build and Test, example

#2431 [workflow] report test coverage even if below threshold
  .github/workflows/report_test_coverage.yml
Labels: bug, DevOps

#2427 [example] improved the clarity yof the example readme
  .github/workflows/auto_example_check.yml
  examples/README.md
Labels: documentation, example

#2434 [ddp] add is_ddp_ignored
  colossalai/gemini/chunk/search_utils.py
  colossalai/gemini/chunk/utils.py
  colossalai/nn/optimizer/zero_optimizer.py
  colossalai/nn/parallel/data_parallel.py
  colossalai/utils/__init__.py
  colossalai/utils/common.py
  colossalai/zero/utils/gemini_hook.py
Labels: Run Build and Test

#2436 [workflow] make test coverage report collapsable
  .github/workflows/report_test_coverage.yml
Labels: enhancement, DevOps

#2423 [autoparallel] add shard option
  colossalai/auto_parallel/tensor_shard/node_handler/__init__.py
  colossalai/auto_parallel/tensor_shard/node_handler/node_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/option.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_shard_option.py
Labels: Run Build and Test

#2438 [fx] allow native ckpt trace and codegen.
  colossalai/fx/graph_module.py
  colossalai/fx/tracer/_symbolic_trace.py
  colossalai/fx/tracer/experimental.py
Labels: bug, Run Build and Test

#2393 [autoparallel] integrate device mesh initialization into autoparallelize
  colossalai/auto_parallel/tensor_shard/initialize.py
  colossalai/device/alpha_beta_profiler.py
  colossalai/device/device_mesh.py
  examples/language/gpt/experiments/auto_parallel/auto_parallel_with_gpt.py
  examples/language/gpt/experiments/auto_parallel/saved_solution/solution_12_layers.pt
  examples/language/gpt/experiments/auto_parallel/saved_solution/solution_1_layers.pt
  examples/language/gpt/experiments/auto_parallel/saved_solution/solution_4_layers.pt
Labels: Run Build and Test

#2443 [zero] fix state_dict and load_state_dict for ddp ignored parameters
  colossalai/nn/parallel/data_parallel.py
  tests/test_gemini/update/test_zeroddp_state_dict.py
Labels: Run Build and Test

#2446 [zero] add warning for ignored parameters
  colossalai/gemini/chunk/utils.py
  colossalai/nn/optimizer/zero_optimizer.py
Labels: Run Build and Test

#2448 [example] updated large-batch optimizer tutorial
  examples/tutorial/large_batch_optimizer/README.md
  examples/tutorial/large_batch_optimizer/config.py
  examples/tutorial/large_batch_optimizer/requirements.txt
  examples/tutorial/large_batch_optimizer/test_ci.sh
  examples/tutorial/large_batch_optimizer/train.py
Labels: enhancement, example

#2451 [autoparallel] update binary elementwise handler
  colossalai/auto_parallel/tensor_shard/node_handler/binary_elementwise_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/test_binary_elementwise_handler.py
  tests/test_auto_parallel/test_tensor_shard/test_node_handler/utils.py
Labels: Run Build and Test

#2456 Fix False warning in initialize.py
  colossalai/initialize.py
Labels: Run Build and Test

#2466 [example] integrate autoparallel demo with CI
  examples/tutorial/auto_parallel/README.md
  examples/tutorial/auto_parallel/auto_parallel_with_resnet.py
  examples/tutorial/auto_parallel/config.py
  examples/tutorial/auto_parallel/environment.yaml
  examples/tutorial/auto_parallel/requirements.txt
  examples/tutorial/auto_parallel/test_ci.sh
Labels: DevOps, example

#2464 [zero] low level optim supports ProcessGroup
  colossalai/zero/sharded_optim/_utils.py
  colossalai/zero/sharded_optim/bookkeeping/base_store.py
  colossalai/zero/sharded_optim/bookkeeping/bucket_store.py
  colossalai/zero/sharded_optim/bookkeeping/parameter_store.py
  colossalai/zero/sharded_optim/low_level_optim.py
  examples/language/gpt/gemini/train_gpt_demo.py
  tests/test_zero/low_level_zero/test_grad_acc.py
  tests/test_zero/low_level_zero/test_zero1_2.py
Labels: Run Build and Test

#2463 [example] integrate seq-parallel tutorial with CI
  colossalai/kernel/cuda_native/scaled_softmax.py
  examples/tutorial/large_batch_optimizer/README.md
  examples/tutorial/sequence_parallel/README.md
  examples/tutorial/sequence_parallel/config.py
  examples/tutorial/sequence_parallel/requirements.txt
  examples/tutorial/sequence_parallel/test_ci.sh
  examples/tutorial/sequence_parallel/train.py
Labels: DevOps, example

#2473 [zero] polish low level optimizer
  colossalai/zero/sharded_optim/_utils.py
  colossalai/zero/sharded_optim/bookkeeping/base_store.py
  colossalai/zero/sharded_optim/bookkeeping/bucket_store.py
  colossalai/zero/sharded_optim/bookkeeping/parameter_store.py
  colossalai/zero/sharded_optim/low_level_optim.py
  tests/test_zero/low_level_zero/test_grad_acc.py
  tests/test_zero/low_level_zero/test_zero1_2.py
Labels: Run Build and Test

#2474 [zero] add unit test for low-level zero init
  tests/test_zero/low_level_zero/test_zero_init.py
Labels: Run Build and Test

#2481 [workflow] fixed the skip condition of example weekly check workflow
  .github/workflows/auto_example_check.yml
Labels: bug, DevOps, example

#2475 [CI] add test_ci.sh for palm, opt and gpt
  examples/language/gpt/gemini/run_gemini.sh
  examples/language/gpt/gemini/test_ci.sh
  examples/language/gpt/gemini/train_gpt_demo.py
  examples/language/gpt/test_ci.sh
  examples/language/opt/test_ci.sh
  examples/language/palm/run.sh
  examples/language/palm/test_ci.sh
  examples/language/palm/train.py
Labels: DevOps, example

#2468 [autoparallel] support origin activation ckpt on autoprallel system
  colossalai/auto_parallel/passes/runtime_apply_pass.py
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/initialize.py
  tests/test_auto_parallel/test_tensor_shard/test_checkpoint.py
Labels: Run Build and Test

#2485 [autochunk] support evoformer tracer
  colossalai/autochunk/autochunk_codegen.py
  colossalai/autochunk/trace_flow.py
  colossalai/autochunk/trace_indice.py
  colossalai/autochunk/utils.py
  colossalai/fx/profiler/opcount.py
  tests/test_autochunk/benchmark_simple_evoformer.py
  tests/test_autochunk/evoformer/evoformer.py
  tests/test_autochunk/evoformer/initializer.py
  tests/test_autochunk/evoformer/kernel.py
  tests/test_autochunk/evoformer/msa.py
  tests/test_autochunk/evoformer/ops.py
  tests/test_autochunk/evoformer/triangle.py
  tests/test_autochunk/openfold/checkpointing.py
  tests/test_autochunk/openfold/dropout.py
  tests/test_autochunk/openfold/evoformer.py
  tests/test_autochunk/openfold/msa.py
  tests/test_autochunk/openfold/outer_product_mean.py
  tests/test_autochunk/openfold/pair_transition.py
  tests/test_autochunk/openfold/primitives.py
  tests/test_autochunk/openfold/tensor_utils.py
  tests/test_autochunk/openfold/triangular_attention.py
  tests/test_autochunk/openfold/triangular_multiplicative_update.py
  tests/test_autochunk/test_evoformer_codegen.py
  tests/test_autochunk/test_simple_evoformer_codegen.py
  tests/test_autochunk/test_simple_evoformer_search.py
Labels: Run Build and Test

#2486 [zero] add unit testings for hybrid parallelism
  colossalai/zero/sharded_optim/bookkeeping/bucket_store.py
  colossalai/zero/sharded_optim/low_level_optim.py
  tests/test_tensor/common_utils/_utils.py
  tests/test_zero/low_level_zero/test_zero_tp.py
Labels: Run Build and Test

#2498 [fx] allow control of ckpt_codegen init
  colossalai/fx/graph_module.py
Labels: Run Build and Test

#2497 [autochunk] support autochunk on evoformer
  colossalai/autochunk/autochunk_codegen.py
  colossalai/autochunk/estimate_memory.py
  colossalai/autochunk/search_chunk.py
  colossalai/autochunk/trace_flow.py
  colossalai/autochunk/trace_indice.py
  colossalai/autochunk/utils.py
  tests/test_autochunk/test_evoformer_codegen.py
  tests/test_autochunk/test_simple_evoformer_codegen.py
  tests/test_autochunk/test_simple_evoformer_search.py
Labels: Run Build and Test

#2506 [autochunk] support parsing blocks
  colossalai/autochunk/autochunk_codegen.py
  colossalai/autochunk/estimate_memory.py
  colossalai/autochunk/search_chunk.py
  colossalai/autochunk/trace_flow.py
  colossalai/autochunk/trace_indice.py
  colossalai/autochunk/utils.py
  tests/test_autochunk/test_evoformer_stack_codegen.py
Labels: Run Build and Test

#2508 [zero] add strict ddp mode
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/gemini_parallel.py
  examples/language/gpt/gemini/commons/model_zoo.py
  examples/language/gpt/gemini/train_gpt_demo.py
  tests/test_tensor/test_tp_with_zero.py
Labels: Run Build and Test

#2515 [workflow] fixed changed file detection
  .github/workflows/auto_example_check.yml
  .github/workflows/build.yml
  .github/workflows/pre_commit.yml
Labels: bug, DevOps, example

#2518 [gemini] update ddp strict mode
  colossalai/gemini/chunk/search_utils.py
  colossalai/gemini/chunk/utils.py
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/gemini_parallel.py
  colossalai/tensor/colo_tensor.py
  examples/language/gpt/gemini/train_gpt_demo.py
  tests/test_ddp/test_ddp_ignore_params.py
  tests/test_gemini/update/test_fwd_bwd.py
  tests/test_gemini/update/test_gemini_use_rmt.py
  tests/test_gemini/update/test_grad_clip.py
  tests/test_gemini/update/test_inference.py
  tests/test_gemini/update/test_optim.py
  tests/test_gemini/update/test_search.py
  tests/test_gemini/update/test_zeroddp_state_dict.py
  tests/test_gemini/update/test_zerooptim_state_dict.py
  tests/test_tensor/test_tp_with_zero.py
Labels: Run Build and Test

#2495 [autoparallel] accelerate gpt2 training
  colossalai/auto_parallel/passes/runtime_preparation_pass.py
  colossalai/auto_parallel/tensor_shard/node_handler/matmul_handler.py
  colossalai/auto_parallel/tensor_shard/node_handler/strategy/matmul_strategy_generator.py
  colossalai/device/device_mesh.py
  colossalai/tensor/comm_spec.py
Labels: Run Build and Test

#2521 [zero] fix gradient clipping in hybrid parallelism
  colossalai/amp/naive_amp/grad_scaler/dynamic_grad_scaler.py
  colossalai/zero/sharded_optim/_utils.py
  tests/test_zero/low_level_zero/test_grad_acc.py
  tests/test_zero/low_level_zero/test_zero1_2.py
  tests/test_zero/low_level_zero/test_zero_init.py
  tests/test_zero/low_level_zero/test_zero_tp.py
Labels: Run Build and Test

#2510 [hotfix] meta tensor default device.
  colossalai/fx/profiler/tensor.py
Labels: Run Build and Test

#2523 [zero] add zero wrappers
  colossalai/nn/optimizer/zero_optimizer.py
  colossalai/nn/parallel/__init__.py
  colossalai/nn/parallel/zero_wrapper.py
  colossalai/zero/sharded_optim/low_level_optim.py
  tests/test_zero/low_level_zero/test_grad_acc.py
  tests/test_zero/low_level_zero/test_zero1_2.py
  tests/test_zero/low_level_zero/test_zero_tp.py
Labels: Run Build and Test

#2527 [gemini] update the gpt example
  colossalai/nn/parallel/zero_wrapper.py
  examples/language/gpt/gemini/benchmark_gemini.sh
  examples/language/gpt/gemini/run_gemini.sh
  examples/language/gpt/gemini/train_gpt_demo.py
Labels: Run Build and Test

#2524 [workflow] only report coverage for changed files
  .github/workflows/build.yml
  .github/workflows/report_test_coverage.yml
  tests/test_amp/test_naive_fp16.py
Labels: Run Build and Test

#2529 [hotfix] fix lightning error
  colossalai/nn/parallel/data_parallel.py
  colossalai/nn/parallel/gemini_parallel.py
  colossalai/nn/parallel/utils.py
Labels: Run Build and Test

#2534 [gemini] add profiler in the demo
  examples/language/gpt/gemini/commons/utils.py
  examples/language/gpt/gemini/train_gpt_demo.py
Labels: Run Build and Test

#2526 [autochunk] support transformer
  colossalai/autochunk/autochunk_codegen.py
  colossalai/autochunk/search_chunk.py
  colossalai/autochunk/select_chunk.py
  colossalai/autochunk/trace_flow.py
  colossalai/autochunk/trace_indice.py
  colossalai/autochunk/utils.py
  tests/test_autochunk/benchmark_simple_evoformer.py
  tests/test_autochunk/test_alphafold/test_alphafold_utils.py
  tests/test_autochunk/test_alphafold/test_evoformer_block.py
  tests/test_autochunk/test_alphafold/test_evoformer_stack.py
  tests/test_autochunk/test_alphafold/test_extramsa_block.py
  tests/test_autochunk/test_diffuser/test_diffuser_utils.py
  tests/test_autochunk/test_diffuser/test_unet.py
  tests/test_autochunk/test_evoformer_codegen.py
  tests/test_autochunk/test_evoformer_stack_codegen.py
  tests/test_autochunk/test_extramsa_codegen.py
  tests/test_autochunk/test_simple_evoformer_codegen.py
  tests/test_autochunk/test_simple_evoformer_search.py
  tests/test_autochunk/test_transformer/test_autochunk_gpt.py
  tests/test_autochunk/test_transformer/test_transformer_utils.py
Labels: Run Build and Test
