Repository hpcaitech/ColossalAI, pull requests merged in 2024-03, with the labels that each got.

#5427 [devops] fix extention building
  .cuda_ext.json
  .github/workflows/compatiblity_test_on_dispatch.yml
  .github/workflows/compatiblity_test_on_pr.yml
  .github/workflows/compatiblity_test_on_schedule.yml
  .github/workflows/cuda_ext_check_before_merge.yml
  .github/workflows/doc_test_on_pr.yml
  .github/workflows/doc_test_on_schedule.yml
  .github/workflows/example_check_on_dispatch.yml
  .github/workflows/example_check_on_pr.yml
  .github/workflows/example_check_on_schedule.yml
  colossalai/cli/check/check_installation.py
  colossalai/legacy/inference/serving/ray_serve/README.md
  colossalai/legacy/inference/serving/torch_serve/README.md
  colossalai/legacy/inference/serving/torch_serve/docker/Dockerfile
  colossalai/nn/optimizer/cpu_adam.py
  docker/Dockerfile
  docs/README-zh-Hans.md
  docs/source/en/get_started/installation.md
  examples/images/diffusion/README.md
  examples/images/diffusion/test_ci.sh
  examples/language/llama2/README.md
  examples/language/openmoe/README.md
  extensions/utils.py
  setup.py
Labels: DevOps

#5428 [colossal-llama2] add stream chat examlple for chat version model
  applications/Colossal-LLaMA-2/colossal_llama2/utils/stream_chat_patch.py
  applications/Colossal-LLaMA-2/stream_chat_example.py
Labels: colossal-llama2

#5411 [release] update version
  version.txt
Labels: release

#5444 [devops] fix compatibility
  .compatibility
  .github/workflows/build_on_schedule.yml
  .github/workflows/compatiblity_test_on_dispatch.yml
  .github/workflows/compatiblity_test_on_pr.yml
  .github/workflows/compatiblity_test_on_schedule.yml
  colossalai/booster/plugin/moe_hybrid_parallel_plugin.py
  tests/test_booster/test_plugin/test_gemini_plugin.py
  tests/test_checkpoint_io/test_gemini_checkpoint_io.py
  tests/test_shardformer/test_model/test_shard_falcon.py
Labels: bug, DevOps

#5471 [moe] removed openmoe-coupled code and rectify mixstral code
  applications/ColossalMoE/colossal_moe/__init__.py
  applications/ColossalMoE/colossal_moe/models/__init__.py
  applications/ColossalMoE/infer.py
  applications/ColossalMoE/infer.sh
  applications/ColossalMoE/mixtral_checkpoint.py
  applications/ColossalMoE/tests/test_mixtral_layer.py
  applications/ColossalMoE/tests/test_moe_checkpoint.py
  applications/ColossalMoE/train.py
  applications/ColossalMoE/utils.py
  colossalai/moe/__init__.py
  colossalai/moe/experts.py
  colossalai/moe/layers.py
  colossalai/moe/load_balance.py
  colossalai/moe/loss.py
  colossalai/moe/routers.py
  colossalai/shardformer/modeling/mixtral.py
  colossalai/shardformer/policies/auto_policy.py
  colossalai/shardformer/policies/mixtral.py
Labels: enhancement

#5485 [example] add grok-1 inference
  examples/language/grok-1/README.md
  examples/language/grok-1/grok1_policy.py
  examples/language/grok-1/inference.py
  examples/language/grok-1/inference_tp.py
  examples/language/grok-1/requirements.txt
  examples/language/grok-1/run_inference_fast.sh
  examples/language/grok-1/run_inference_slow.sh
  examples/language/grok-1/test_ci.sh
  examples/language/grok-1/utils.py
Labels: example

#5495 [example] update Grok-1 inference
  examples/language/grok-1/README.md
  examples/language/grok-1/inference.py
  examples/language/grok-1/inference_tp.py
  examples/language/grok-1/requirements.txt
  examples/language/grok-1/run_inference_fast.sh
  examples/language/grok-1/run_inference_slow.sh
  examples/language/grok-1/utils.py
Labels: example

#5506 [fix] Fix grok-1 model card typo
  examples/language/grok-1/README.md
  examples/language/grok-1/run_inference_fast.sh
  examples/language/grok-1/run_inference_slow.sh
Labels: example

#5504 [devops] fix example test ci
  .github/workflows/example_check_on_dispatch.yml
  .github/workflows/example_check_on_pr.yml
  .github/workflows/example_check_on_schedule.yml
Labels: bug, DevOps

#5532 [fix] Grok-1 use tokenizer from the same pretrained path
  examples/language/grok-1/inference.py
  examples/language/grok-1/inference_tp.py
Labels: example
