Repository hpcaitech/ColossalAI, pull requests merged in 2024-05, with the labels that each got.

#5688 [Fix] Fix Inference Example, Tests, and Requirements
  .github/workflows/build_on_pr.yml
  colossalai/inference/README.md
  colossalai/inference/spec/README.md
  colossalai/inference/struct.py
  examples/inference/benchmark_ops/test_ci.sh
  examples/inference/llama/benchmark_llama.py
  examples/inference/llama/benchmark_llama3.py
  examples/inference/llama/llama_generation.py
  examples/inference/llama/run_benchmark.sh
  examples/inference/llama/test_ci.sh
  examples/language/openmoe/model/modeling_openmoe.py
  requirements/requirements-infer.txt
  requirements/requirements-test.txt
  tests/test_infer/__init__.py
  tests/test_infer/test_config_and_struct.py
  tests/test_infer/test_cuda_graph.py
  tests/test_infer/test_drafter.py
  tests/test_infer/test_inference_engine.py
  tests/test_infer/test_kernels/triton/test_context_attn_unpad.py
  tests/test_infer/test_kernels/triton/test_decoding_attn.py
  tests/test_infer/test_kernels/triton/test_kvcache_copy.py
  tests/test_infer/test_models/test_attention.py
  tests/test_infer/test_models/test_baichuan.py
Labels: testing

#5725 [example] Update Inference Example
  colossalai/inference/spec/README.md
  examples/inference/llama/README.md
  examples/inference/llama/llama_generation.py
Labels: example

#5722 [gemini] prefetch chunks
  colossalai/booster/plugin/gemini_plugin.py
  colossalai/zero/gemini/chunk/chunk.py
  colossalai/zero/gemini/chunk/manager.py
  colossalai/zero/gemini/gemini_ddp.py
  colossalai/zero/gemini/gemini_hook.py
  colossalai/zero/gemini/gemini_mgr.py
  colossalai/zero/gemini/placement_policy.py
  examples/language/gpt/gemini/commons/utils.py
  examples/language/gpt/gemini/train_gpt_demo.py
  tests/test_zero/test_gemini/test_optim.py
Labels: gemini

#5731 [gemini] prefetch for auto policy
  colossalai/zero/gemini/placement_policy.py
Labels: gemini

#5733 [Gemini] implement auto policy prefetch and a little origin code modification.
  colossalai/zero/gemini/gemini_hook.py
  colossalai/zero/gemini/gemini_mgr.py
  colossalai/zero/gemini/placement_policy.py
  examples/language/gpt/gemini/run_gemini.sh
  examples/language/gpt/gemini/train_gpt_demo.py
Labels: gemini

#5742 [Inference]Fix readme and example for API server
  colossalai/inference/README.md
  colossalai/inference/server/README.md
  colossalai/inference/server/api_server.py
  examples/inference/client/locustfile.py
  requirements/requirements.txt
Labels: documentation, colossal-inference

#5713 [gemini] async grad chunk reduce (all-reduce&reduce-scatter)
  colossalai/booster/plugin/gemini_plugin.py
  colossalai/zero/gemini/chunk/chunk.py
  colossalai/zero/gemini/chunk/manager.py
  colossalai/zero/gemini/gemini_ddp.py
  colossalai/zero/gemini/gemini_optimizer.py
  examples/language/llama/benchmark.py
  tests/test_zero/test_gemini/test_chunkv2.py
  tests/test_zero/test_gemini/test_fwd_bwd.py
  tests/test_zero/test_gemini/test_grad_accum.py
  tests/test_zero/test_gemini/test_grad_clip.py
  tests/test_zero/test_gemini/test_optim.py
Labels: gemini

#5763 [Fix/Example] Fix Llama Inference Loading Data Type
  examples/inference/llama/benchmark_llama3.py
  examples/inference/llama/llama_generation.py
Labels: colossal-inference

#5752 [release] update version
  .cuda_ext.json
  .github/workflows/compatiblity_test_on_dispatch.yml
  .github/workflows/compatiblity_test_on_pr.yml
  .github/workflows/compatiblity_test_on_schedule.yml
  tests/test_booster/test_plugin/test_torch_ddp_plugin.py
  tests/test_infer/test_kernels/cuda/test_flash_decoding_attention.py
  tests/test_infer/test_kernels/triton/test_decoding_attn.py
  tests/test_infer/test_rpc_engine.py
  tests/test_shardformer/test_model/test_shard_gptj.py
  version.txt
Labels: release
